{% extends "shop/base.html" %}
{% load static %}

{% block title %}Принтер-Agilia{% endblock %}

{% block content %}
<div class="full-width-banner"></div>


<div class="nb-block">
    <div class="nb-container">
      
      <!-- Левая колонка: Слайдер с миниатюрами -->
      <div class="nb-left">
        <div class="nb-slider">
        <img src="{% static 'img/Agilia/1000x1000 (1).png' %}" 
               alt="Главное изображение" class="nb-main-image" id="nbMainImage">
        </div>
        <div class="nb-thumbnails">
          <div class="nb-thumb-wrapper">
          <img src="{% static 'img/Agilia/1000x1000 (2).png' %}" class="nb-thumb"
          data-large="{% static 'img/Agilia/1000x1000 (2).png' %}">
          </div>
          <div class="nb-thumb-wrapper">
          <img src="{% static 'img/Agilia/1000x1000.png' %}" alt="Thumbnail 2" class="nb-thumb"
          data-large="{% static 'img/Agilia/1000x1000.png' %}">
          </div>
          <div class="nb-thumb-wrapper">
          <img src="{% static 'img/Agilia/agilia3.jpg' %}" alt="Thumbnail 3" class="nb-thumb" 
          data-large="{% static 'img/Agilia/agilia3.jpg' %}">
          </div>
          <div class="nb-thumb-wrapper">
          <img src="{% static 'img/Agilia/imageAgilia4.webp' %}" alt="Thumbnail 4" class="nb-thumb"
          data-large="{% static 'img/Agilia/imageAgilia4.webp' %}">
          </div>
          <div class="nb-thumb-wrapper">
          <img src="{% static 'img/Agilia/1000x1000 (1).png' %}" alt="Thumbnail 4" class="nb-thumb"
          data-large="{% static 'img/Agilia/1000x1000 (1).png' %}">
          </div>
        </div>
      </div>

      <!-- Правая колонка: Текст и управление -->
      <div class="nb-right">
        <h2 class="nb-title">Карточные принтеры Agilia</h2>
        <h3 class="nb-text">
          Высококачественная печать на картах всех типов
        </h3>
        <ul class="nb-list">
          <li>Технология ретрансферной печати, оптимальный уровень безопасности  для любых карт, качество печати </li>
          <li>Печатающий модуль для односторонней или двусторонней печати, идеальная печать на краях оптимизация качества 
            печати посредством цветового профиля</li>
          <li>Печатная головка с разрешением 600 точек на дюйм (23,6 точек/мм), пользовательский интерфейс: сенсорный дисплей 
            диагональю 3,5 дюйма</li>
          <li>Скорость печати : односторонняя печать (YMCK): 150 карт/час - двусторонняя печать (YMCKK): 100 карт/час
          </li>
          <li>Безопасноть: разъем замка безопасности Kensington®, модуль блокировки доступа к пустым картам, ленте и пленке 
            (дополнительная функция), удаление конфиденциальных данных из памяти принтера</li>
          <li>Функции, интегрируемые по месту: ключ активации двусторонней печати,  модули кодирования, модуль ламинирования</li>
          <li>Гарантийные условия:</li>
          </ul>
          <ul class="no-bullets">
            <li>3 года для принтера, на протяжении всего срока службы для печатающей головки.</li>
            <li>Дополнительно может предоставляться продленная гарантия.</li>
          </ul>
        <a href="https://myplace.evolis.com/s/product/agilia/01t5p00000CuIrUAAV?language=ru&tabset-100fe=2" class="nb-download-link" target="_blank">
          <span class="nb-download-icon">i</span> Скачать драйвера для принтера
        </a>
        <div class="nb-buttons">
          <a href="https://t.me/alisherAcube" ><button class="nb-btn nb-btn-buy">Купить товар</button></a>
          <a href="{% static 'img/Agilia/Brochure-Agilia.pdf' %}" class="nb-btn nb-btn-brochure" target="_blank">Скачать брошюру</a>
        </div>
      </div>
      
    </div>
  </div>

<!-- Следующий блок -->
<!-- Блок переключения контента -->
<div class="tab-container">
  <!-- Заголовки для переключения -->
  <div class="tab-headers">
    <div class="tab-header active" data-tab="overview">Обзор</div>
    <div class="tab-header" data-tab="consumables">Расходные материалы</div>
  </div>
  
  <!-- Контейнер для вкладок -->
  <div class="tab-content">
    <!-- Вкладка "Обзор": встраиваем YouTube видео -->
    <div class="tab-panel active" id="overview">
      <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/0i0RSBY77Ew" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
        </iframe>
      </div>

     <!-- Блок инфоблоков -->
    <div class="info-blocks">
    
    <!-- Блок 1 -->
    <div class="info-block">
      <div class="info-header">
        <i class="fa-solid fa-compact-disc info-icon"></i>
        <h3 class="info-title">Высококачественная печать на картах всех типов</h3>
      </div>
      <div class="info-description">
        <p>Именно это и предлагает технология ретрансферной печати Agilia.</p>
        <p>Пленка для ретрансферной печати идеально подходит для любых карт и легко <b>адаптируется к различным материалам
          и техническим характеристикам</b>, <br>при этом она покрывает всю поверхность и дает <b>привлекательный внешний вид.</b></p>
        <p>Кроме того, благодаря <b>разрешению печати 600 точек на дюйм</b> и возможности регулировки цветности посредством <b>цветового профиля</b> вы получаете прорисовку
          исключительного качества.
        </p>
      </div>
    </div>
    
    <!-- Блок 2 -->
    <div class="info-block">
      <div class="info-header">
        <i class="fa-solid fa-bullseye info-icon"></i>
        <h3 class="info-title">Оптимальный уровень безопасности для любых карт</h3>
      </div>
      <div class="info-description">
        <p>Agilia предлагает множество возможностей для <b>графической и электронной персонализации,</b> что повышает безопасность карты. Выбор за вами: микротекст, 
        гильоширование, QR-код высокой четкости и т. д</p>
        <p>Нужен более высокий уровень защиты? Agilia совместим с <b>модулем ламинирования,</b> предназначенным для нанесения ламинатных пленок, таких как лаковые покрытия 
        и защитные пленки, как прозрачные, так и с голограммами.</p>
      </div>
    </div>
    
    <!-- Блок 3 -->
    <div class="info-block">
      <div class="info-header">
        <i class="fa-solid fa-bullseye info-icon"></i>
        <h3 class="info-title">Исключительное качество печати:</h3>
      </div>
      <div class="info-description">
        <p>
          <ul>
          <li><b>Высочайшее качество печати</b> благодаря использованию технологии ретрансферной печати;</li>
          <li><b>Печать высокой четкости с разрешением 600 точек на дюйм;</b></li>
          <li>Регулировка цветности посредством <b>цветового профиля;</b></li>
          <li>Односторонняя или двусторонняя печать.</li>
        </ul>
      </p>
      </div>
    </div>
    
    <!-- Блок 4 -->
    <div class="info-block">
      <div class="info-header">
        <i class="fa-solid fa-bullseye info-icon"></i>
        <h3 class="info-title">Безопасность и долговечность карт:</h3>
      </div>
      <div class="info-description">
        <p>
          <ul>
            <li>множество <b>вариантов кодирования;</b></li>
            <li>печать <b>самых современных элементов безопасности:</b> микротекст, гильоширование, QR-код высокой четкости;</li>
            <li>электромеханическая система блокировки.</li>
          </ul>
        </p>
      </div>
    </div>
    
    <!-- Блок 5 -->
    <div class="info-block">
      <div class="info-header">
        <i class="fa-solid fa-bullseye info-icon"></i>
        <h3 class="info-title">Широкий ассортимент расходных материалов</h3>
      </div>
      <div class="info-description">
        <p>Расходные материалы Evolis High Trust обеспечивают <b>высококачественную печать и оптимальный срок службы</b> вашего принтера.</p>
        <p>Благодаря <b>широкому ассортименту карт, лент и комплектов для чистки</b> вы всегда сможете найти именно то, что вам нужно.</p>
      </div>
    </div>
    
    <!-- Блок 6 -->
    <div class="info-block">
      <div class="info-header">
        <i class="fa-solid fa-bullseye info-icon"></i>
        <h3 class="info-title">Интуитивно понятное использование:</h3>
      </div>
      <div class="info-description">
        <p>
          <ul>
            <li><b>ЖК-дисплей с дисплеем QR-кодов</b> для получения помощи при эксплуатации;</li>
            <li>Evolis Premium Suite с пользовательским интерфейсом, оптимизированным для <b>Windows и Mac</b> (Linux по запросу);</li>
            <li>Аечать со смартфонов и планшетов;</li>
            <li>Программное обеспечение для персонализации карт</li>
          </ul>
        </p>
      </div>
    </div>
  
    </div>
  </div>
    
    <!-- Вкладка "Расходные материалы": три карточки -->
    <div class="tab-panel" id="consumables">
      <div class="card-products">
        <div class="card-products-block">
          <img src="{% static 'img/consumables/YMCKO1.png' %}" alt="Изображение 1">
          <h3>Ленты YMCKO</h3>
          <p>Можете использовать ленту ACUBE: YMCKO для каждой одно-или 2х сторонней печати.</p>
          <a href="{% static 'img/consumables/Монохромные-ленты.pdf' %}" class="download-link" target="_blank">Скачать подробную информацию</a>
        </div>
        <div class="card-products-block">
          <img src="{% static 'img/consumables/Лента-3.png' %}" alt="Изображение 2">
          <h3>Чёрная монохромная лента</h3>
          <p>Стандартные монохромные ленты Evolis High Trust® специально разработаны для обеспечения оптимального качества печати. 
            Доступные в черном, синем, красном, зеленом, белом, золотистом и серебристом цветах, они используются для печати одного цвета на карточках.</p>
          <a href="{% static 'img/consumables/Монохромные-ленты.pdf' %}" class="download-link" target="_blank">Скачать подробную информацию</a>
        </div>
        <div class="card-products-block">
          <img src="{% static 'img/consumables/Лента-4.png' %}" alt="Изображение 3">
          <h3>Белая монохромная лента</h3>
          <p>Стандартные монохромные ленты Evolis High Trust® специально разработаны для обеспечения оптимального качества печати. Доступные в черном, синем, красном, 
            зеленом, белом, золотистом и серебристом цветах, они используются для печати одного цвета на карточках.</p>
          <a href="{% static 'img/consumables/Монохромные-ленты.pdf' %}" class="download-link" target="_blank">Скачать подробную информацию</a>
        </div>
        <div class="card-products-block">
          <img src="{% static 'img/consumables/Лента-5.png' %}" alt="Изображение 3">
          <h3>Серебрянная монохромная лента</h3>
          <p>Стандартные монохромные ленты Evolis High Trust® специально разработаны для обеспечения оптимального качества печати. Доступные в черном, синем, красном, 
            зеленом, белом, золотистом и серебристом цветах, они используются для печати одного цвета на карточках.</p>
          <a href="{% static 'img/consumables/Монохромные-ленты.pdf' %}" class="download-link" target="_blank">Скачать подробную информацию</a>
        </div>
      </div>

    <h2 class="section-title">Принтеры</h2>
    
    <div class="extra-blocks">
      <div class="extra-block">
        <img class="badgy" src="{% static 'img/Badgy/1000x1000.jpg' %}" alt="Дополнительное изображение 1">
        <h3>Карточный принтер - Badgy200</h3>
        <p>Доступное решение для печати карт</p>
        <a href="{% url 'badgy200'%}" class="btn-products" target="_blank">Узнать больше</a>
      </div>
      <div class="extra-block">
        <img class="zenius" src="{% static 'img/Zenius/1000x1000.png' %}" alt="Дополнительное изображение 2">
        <h3>Карточный принтер Zenius</h3>
        <p>Компактный и универсальный принтер для карт</p>
        <a href="{% url 'zenius'%}" class="btn-products" target="_blank">Узнать больше</a>
      </div>
      <div class="extra-block">
        <img class="primacy-product" src="{% static 'img/Primacy2/1.png' %}" alt="Дополнительное изображение 3">
        <h3>Карточный принтер - Primacy 2</h3>
        <p>Компендиум технологий для сегодняшнего и завтрашнего дня с карточный принтер Primacy 2.</p>
        <a href="{% url 'primacy2'%}" class="btn-products" target="_blank">Узнать больше</a>
      </div>
    </div>
    </div>
  </div>
</div>




{% endblock %}