{% extends "shop/base.html" %}
{% load static %}

{% block title %}Карточный принтер-Primacy 2{% endblock %}

{% block content %}
<div class="full-width-banner"></div>


<div class="nb-block">
    <div class="nb-container">
      
      <!-- Левая колонка: Слайдер с миниатюрами -->
      <div class="nb-left">
        <div class="nb-slider">
        <img src="{% static 'img/Primacy2/1.png' %}" 
               alt="Главное изображение" class="nb-main-image" id="nbMainImage">
        </div>
        <div class="nb-thumbnails">
          <div class="nb-thumb-wrapper">
          <img src="{% static 'img/Primacy2/1.png' %}" class="nb-thumb"
          data-large="{% static 'img/Primacy2/1.png' %}">
          </div>
          <div class="nb-thumb-wrapper">
          <img src="{% static 'img/Primacy2/5.png' %}" alt="Thumbnail 2" class="nb-thumb"
          data-large="{% static 'img/Primacy2/5.png' %}">
          </div>
          <div class="nb-thumb-wrapper">
          <img src="{% static 'img/Primacy2/pr1-q5.png' %}" alt="Thumbnail 3" class="nb-thumb" 
          data-large="{% static 'img/Primacy2/pr1-q5.png' %}">
          </div>
          <div class="nb-thumb-wrapper">
          <img src="{% static 'img/Primacy2/pr4-q5.png' %}" alt="Thumbnail 4" class="nb-thumb"
          data-large="{% static 'img/Primacy2/pr4-q5.png' %}">
          </div>
          <div class="nb-thumb-wrapper">
          <img src="{% static 'img/Primacy2/pr5-q5v.png' %}" alt="Thumbnail 4" class="nb-thumb"
          data-large="{% static 'img/Primacy2/pr5-q5v.png' %}">
          </div>
        </div>
      </div>

      <!-- Правая колонка: Текст и управление -->
      <div class="nb-right">
        <h2 class="nb-title">Карточные принтеры Primacy 2</h2>
        <h3 class="nb-text">
          Быстрый и универсальный карточный принтер
        </h3>
        <ul class="nb-list">
          <li>Технология прямой сублимационной цветной печати и смолисто-черная термопечать, печать перезаписываемых карт</li>
          <li>Модуль односторонней или двухсторонней печати</li>
          <li>Разрешение печати: <br>Цветная и монохромная печать: 300x300 точек на дюйм & 300x600 точек на дюйм
          , только монохромная печать: 300x1200 точек на дюйм</li>
          <li>Пользоватльский интерфейс: светодиодная панель или сенсорный ЖК-дисплей</li>
          <li>Оптимизация печати с помощью колориметрического профиля</li>
          <li>Стандартное одностороннее и двухстороннее ламинирование</li>
          <li>Скорость печати</li>
          </ul>
           <ul class="no-bullets">
            <li>Односторонняя печать (YMCKO): до 290 карт/час</li>
            <li>Двухсторонняя печать (YMCKOK): 140 карт/час</li>
            <li>Односторонний (YMCK) с модулем ламинирования: до 215 карт/час</li>
          </ul>
          <ul class="nb-list"><li>Условия гарантии:</li></ul>
           <ul class="no-bullets">
            <li>Гарантия на принтер 3 года </li>
            <li>Продление гарантии в качестве дополнения</li>
          </ul>
        <a href="https://myplace.evolis.com/s/product/primacy-2/01t5p00000CXScOAAX?language=ru&tabset-100fe=2" class="nb-download-link" target="_blank">
          <span class="nb-download-icon">i</span> Скачать драйвера для принтера
        </a>
        <div class="nb-buttons">
          <a href="https://t.me/alisherAcube"><button class="nb-btn nb-btn-buy">Купить товар</button></a>
          <a href="{% static 'img/Primacy2/Brochure-Primacy2.pdf' %}" class="nb-btn nb-btn-brochure" target="_blank">Скачать брошюру</a>
        </div>
      </div>
      
    </div>
  </div>

<!-- Следующий блок -->
<!-- Блок переключения контента -->
<div class="tab-container">
  <!-- Заголовки для переключения -->
  <div class="tab-headers">
    <div class="tab-header active" data-tab="overview">Обзор</div>
    <div class="tab-header" data-tab="consumables">Расходные материалы</div>
  </div>
  
  <!-- Контейнер для вкладок -->
  <div class="tab-content">
    <!-- Вкладка "Обзор": встраиваем YouTube видео -->
    <div class="tab-panel active" id="overview">
      <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/FE2EdJFz0Dw" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
        </iframe>
      </div>

     <!-- Блок инфоблоков -->
    <div class="info-blocks">
    
    <!-- Блок 1 -->
    <div class="info-block">
      <div class="info-header">
        <i class="fa-solid fa-compact-disc info-icon"></i>
        <h3 class="info-title">К вашим услугам сегодня — и в будущем.</р>
      </div>
      <div class="info-description">
        <p>Благодаря всем предлагаемым возможностям <b>Primacy 2 может удовлетворить все потребности, которые у вас могут возникнуть 
          сегодня. И те, которые возникнут в будущем, тоже.</b> Как? С помощью возможности простого добавления множества функций в 
          течение всей жизни принтера: двусторонняя печать, устройство загрузки на 200 карт, кодеры, модуль ламинирования, ЖК-дисплей. 
          Вы сможете <b>без труда добавить эти функции самостоятельно именно тогда, когда они вам понадобятся.</b></p>
        <p>Долговечность Primacy 2 достигается также благодаря его эксплуатационной надежности. Мы оптимизировали <b>защиту печатающей головки,</b> 
          чтобы еще больше увеличить срок ее жизни. Не беспокойтесь о судьбе своего принтера — мы даем на него 3-летнюю гарантию с возможностью продления.</p>
    </div>
    </div>
    
    <!-- Блок 2 -->
    <div class="info-block">
      <div class="info-header">
        <i class="fa-solid fa-bullseye info-icon"></i>
        <h3 class="info-title">Не нужно выбирать между количеством и качеством.</h3>
      </div>
      <div class="info-description">
        <p>Primacy 2 предоставляет вам всё — выходную мощность, подходящую для печати <b>средних и больших партий, и высокое качество печати.</b></p>
        <p>Скорость печати, достигающая <b>280 карт в час,</b> в комбинации с <b>устройством загрузки на 100 или 200 карт</b> — вот две характеристики Primacy 2, которые 
          позволяют добиваться высокого уровня производительности и автономности. Кроме того, <b>режим печати в высоком разрешении в паре с колориметрическим 
          профилем, максимально приближенным к реальным цветам,</b> помогает достичь высочайшего качества цветопередачи на любых картах.</p>
      </div>
    </div>
    
    <!-- Блок 3 -->
    <div class="info-block">
      <div class="info-header">
        <i class="fa-solid fa-bullseye info-icon"></i>
        <h3 class="info-title">Еще больше безопасности и долговечности для ваших карт.</h3>
      </div>
      <div class="info-description">
        <p>Primacy 2 может напечатать любые карты — как базового, так и самого высокого уровня безопасности. Можно выбрать уровень безопасности согласно вашим потребностям:</p>
    <ul class="np-block3-trns-second">
        <li><b>Кодеры:</b>
          кодируйте контактные или бесконтактны чипы и магнитные полосы с помощью наших модулей кодирования. Выберите один их них при покупке или 
          добавьте позже, в ходе эксплуатации Primacy 2.
        </li>
        <li><b>УФ-эффект:</b>
          чтобы повысить безопасность карт, примените к ним УФ-эффект. Вы можете сделать это с помощью особой ленты YMCKOO, а также с помощью 
          покровного слоя нашей стандартной цветной ленты в комбинации с модулем ламинирования.
        </li>
        <li><b>Двойной покровный слой:</b>
           двойной покровный слой значительно повышает долговечность отпечатанных карт. Двойной слой лака образует улучшенную защиту от износа и истирания, 
           улучшая сопротивление истиранию в 3 раза (в сравнении со стандартной лентой YMCKO).
        </li>
        <li><b>Модуль ламинирования: </b>
           позволяет интегрировать еще больше элементов безопасности и защиты (лак, защитную пленку, стандартные и персонализированные голограммы). Вы можете 
           заказать модуль при покупке Primacy 2 или дополнить комплектацию принтера в будущем. Модуль ламинирования — это существенный элемент для достижения 
           оптимального уровня безопасности и долговечности.
        </li>
        <li><b>Сканер:</b>
          сканер позволяет убедиться, что все элементы вашей карты напечатаны правильно, а также сохранять историю печати.
        </li>
    </ul>
      </div>
    </div>
    
    <!-- Блок 4 -->
    <div class="info-block">
      <div class="info-header">
        <i class="fa-solid fa-bullseye info-icon"></i>
        <h3 class="info-title">Напечатанные данные также нуждаются в защите.</h3>
      </div>
      <div class="info-description">
        <p>При персонализации карты персональные данные отправляются на принтер. После завершения печати эта информация может быть прочитана с ленты. 
          Как обеспечить невозможность доступа к персональным данным в памяти принтера или на ленте?</p>
          <p>Для достижения этого Primacy 2 предлагает две технологии:</p>
          <ul class="np-block3-trns-second">
            <li>Kineclipse®: Система маскирования обеспечивает нечитаемость чувствительной информации на ленте после печати.</li>
            <li>Цифровое стирание: Данные, отправленные на принтер, после печати автоматически удаляются из памяти.</li>
          </ul>
      </div>
    </div>

    <!-- Блок 5 -->
    <div class="info-block">
      <div class="info-header">
        <i class="fa-solid fa-bullseye info-icon"></i>
        <h3 class="info-title">Закройте Primacy 2, чтобы еще лучше защитить его.</h3>
      </div>
      <div class="info-description">
        <p>Возможность закрыть Primacy 2 предотвращает несанкционированный доступ к принтеру. Получить доступ к внутреннему пространству принтера и к 
          устройству загрузки становится возможным только при наличии ключа. <b>Другими словами, все расходные материалы (карты, ленты и т.д.), а также все 
          компоненты, которые могут быть украдены, теперь надежно защищены.</b></p>
      </div>
    </div>

    <!-- Блок 6 -->
    <div class="info-block">
      <div class="info-header">
        <i class="fa-solid fa-bullseye info-icon"></i>
        <h3 class="info-title">Нужна помощь? Отсканируйте QR-код!</h3>
      </div>
      <div class="info-description">
        <p>
        Мы разработали Primacy 2 таким образом, чтобы сделать процесс печати максимально простым. Но мы понимаем, что время от времени вам может 
        требоваться помощь. <b>Для этого на ЖК-дисплее Primacy 2 (в соответствующей комплектации) отображается QR-код.</b> Когда вам нужна помощь, на экране 
        появляется QR-код, отсканировав который вы можете напрямую перейти к необходимой вам информации.
        </p>
      </div>
    </div>
  
    </div>
  </div>
    
    <!-- Вкладка "Расходные материалы": три карточки -->
    <div class="tab-panel" id="consumables">
      <div class="card-products">
        <div class="card-products-block">
          <img src="{% static 'img/consumables/YMCKO1.png' %}" alt="Изображение 1">
          <h3>Ленты YMCKO</h3>
          <p>Можете использовать ленту ACUBE: YMCKO для каждой одно-или 2х сторонней печати.</p>
          <a href="{% static 'img/consumables/Монохромные-ленты.pdf' %}" class="download-link" target="_blank">Скачать подробную информацию</a>
        </div>
        <div class="card-products-block">
          <img src="{% static 'img/consumables/Лента-3.png' %}" alt="Изображение 2">
          <h3>Чёрная монохромная лента</h3>
          <p>Стандартные монохромные ленты Evolis High Trust® специально разработаны для обеспечения оптимального качества печати. 
            Доступные в черном, синем, красном, зеленом, белом, золотистом и серебристом цветах, они используются для печати одного цвета на карточках.</p>
          <a href="{% static 'img/consumables/Монохромные-ленты.pdf' %}" class="download-link" target="_blank">Скачать подробную информацию</a>
        </div>
        <div class="card-products-block">
          <img src="{% static 'img/consumables/Лента-4.png' %}" alt="Изображение 3">
          <h3>Белая монохромная лента</h3>
          <p>Стандартные монохромные ленты Evolis High Trust® специально разработаны для обеспечения оптимального качества печати. Доступные в черном, синем, красном, 
            зеленом, белом, золотистом и серебристом цветах, они используются для печати одного цвета на карточках.</p>
          <a href="{% static 'img/consumables/Монохромные-ленты.pdf' %}" class="download-link" target="_blank">Скачать подробную информацию</a>
        </div>
        <div class="card-products-block">
          <img src="{% static 'img/consumables/Лента-5.png' %}" alt="Изображение 3">
          <h3>Серебрянная монохромная лента</h3>
          <p>Стандартные монохромные ленты Evolis High Trust® специально разработаны для обеспечения оптимального качества печати. Доступные в черном, синем, красном, 
            зеленом, белом, золотистом и серебристом цветах, они используются для печати одного цвета на карточках.</p>
          <a href="{% static 'img/consumables/Монохромные-ленты.pdf' %}" class="download-link" target="_blank">Скачать подробную информацию</a>
        </div>
      </div>

    <h2 class="section-title">Принтеры</h2>
    
    <div class="extra-blocks">
      <div class="extra-block">
        <img class="agilia" src="{% static 'img/Agilia/1000x1000 (1).png' %}" alt="Дополнительное изображение 1">
        <h3>Принтер для печати ретрансферных карт - Agilia</h3>
        <p>Высококачественная печать на картах всех типов.</p>
        <a href="{% url 'agilia'%}" class="btn-products" target="_blank">Узнать больше</a>
      </div>
      <div class="extra-block">
        <img class="badgy" src="{% static 'img/Badgy/1000x1000.jpg'' %}" alt="Дополнительное изображение 2">
        <h3>Карточный принтер - Badgy200</h3>
        <p>Доступное решение для печати карт</p>
        <a href="{% url 'badgy200'%}" class="btn-products" target="_blank">Узнать больше</a>
      </div>
      <div class="extra-block">
        <img class="zenius" src="{% static 'img/Zenius/1000x1000.png' %}" alt="Дополнительное изображение 3">
        <h3>Карточный принтер Zenius</h3>
        <p>Компактный и универсальный принтер для карт</p>
        <a href="{% url 'zenius'%}" class="btn-products" target="_blank">Узнать больше</a>
      </div>
    </div>
    </div>
  </div>
</div>


{% endblock %}