{% load static %}
    <footer class="footer">
        <!-- Links -->
        <div class="footer-seperator">
            <div class="content-lg container">
                <div class="row">
                    <div class="col-sm-6 sm-margin-b-30">
                        <h2 class="color-white">Оставьте заявку:</h2>
                     <div id="contact-form-app"></div>
                    </div>
                    <!-- Правая колонка: Контактные данные -->
                    <div class="col-sm-6 sm-margin-b-30 contact-wrapper">
                        <h2 class="color-white">Наши контакты:</h2>
                            <ul class="list-unstyled footer-contact">
                                <li class="footer-contact-item">
                                <i class="fa fa-phone"></i> Тел.: +998 90 935 69 29
                                </li>
                                <li class="footer-contact-item">
                                <i class="fa fa-envelope"></i> Email: yattaliabdu@gmail.com
                                </li>
                                <li class="footer-contact-item">
                                <i class="fa fa-map-marker"></i>  Адрес: Город Ташкент, Яшнободский район, Sultonalimashxadiy Ko'chasi, 210-uy
                                </li>
                                <li class="footer-contact-item">
                                <i class="fa fa-clock-o"></i> Режим работы: 9:00–20:00
                                </li>
                            </ul>
                            <!-- Новая кнопка внизу контактов -->
                        <a href="https://t.me/alisherAcube"><button type="button" class="btn-contact btn-theme text-uppercase">Связаться с нами</button></a>
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>
        <!-- End Links -->

        <!-- Copyright -->
        <div class="content container footer-bottom">
            <div class="row">
                <div class="text-center">
                     <p class="margin-b-0"> Copyright © 2025 <a class="color-base fweight-700" href="">ACUBE</a></p>
                </div>
            </div>
            <!--// end row -->
        </div>
        <!-- End Copyright -->
</footer>
<script src="{% static 'frontend/js/app.js' %}"></script>