{% extends "shop/base.html" %}
{% load static %}

{% block title %}Образование{% endblock %}

{% block content %}

<!--========== PARALLAX ==========-->
<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/sliders/Header2.jpg' %}">
    <div class="parallax-content container">
        <h2 class="carousel-title custom-header">Печать школьных бейджей и школьных удостоверений личности</h2>
        <p class="custom-paragraph">Решения ACUBE помогут вам повысить эффективность и оптимизировать безопасность в 
            <br>вашем учебном заведении. Откройте для себя все преимущества печати собственных школьных бейджей и школьных 
            <br>удостоверений личности..</p>
    </div>
</div>
<!--========== PARALLAX ==========-->

<div class="back-company">

<!--Первый блок -->
<div class="b1-block">
  <div class="b1-app-row b1-block-left">
    <span class="b1-app-item">Приложение:</span>
    <span class="b1-app-item">Школьные идентификационные карты</span>
    <span class="b1-app-item">Карта учащегося</span>
    <span class="b1-app-item">Цифровая подпись</span>
  </div>
  <hr class="b1-footer">
</div>

<!-- Второй блок -->
<div class="np-block1">
  <h2 class="np-block1-heading">Обеспечивайте безопасность людей с помощью школьной карты для удостоверения личности</h2>
  <div class="np-block1-content">
    <div class="np-block1-left">
      <p>Растущие риски, связанные с проникновением злоумышленников , побуждают ко внедрению новых систем для безопасности людей, которые 
        находятся на вашей территории: студентов, преподавателей, сотрудников, посетителей, подрядчиков и т. д.</p>
      <p>Идентификация с помощью школьного бейджа обеспечивает необходимый первый уровень «визуального» контроля. Это школьное удостоверение личности может 
        также использоваться для контроля доступа ко входам в здания и залам, тем самым ограничивая риск незаконного проникновения</p>
      <p>Все это вносит непосредственный вклад в безопасность людей, а также различного оборудования.</p>
    </div>
    <div class="np-block1-right">
      <img src="{% static 'img/proposal/Image3.png' %}" alt="Изображение блока 1" class="np-block1-image">
    </div>
  </div>
</div>


<!-- Третий блок -->
<div class="np-block2 np-block2-mt">
  <h2 class="np-block2-heading">Для школьных бейджей предпочтение отдается бесконтактным решениям — с точки зрения скорости и гигиены.</h2>
  <p class="np-block2-text">Риски могут быть также связаны со здоровьем. В школах очень большой поток людей, что может способствовать распространению вирусов. 
    Чтобы максимально ограничить это явление, все более широкое распространение получает использование бесконтактных систем, в частности с RFID-чипами..</p>
  <p class="np-block2-text">Эта технология особенно подходит для карт учащихся, так как помимо преимущества в гигиене она дает многофункциональность. 
    Она надежна, проста в реализации и экономит время при больших потоках людей.</p>
</div>

<div class="np-block2">
  <h2 class="np-block2-heading">Обезопасьте управление цифровыми данными, самостоятельно печатая школьную карту для удостоверения личности.</h2>
  <p class="np-block2-text">Безопасность — это также безопасность данных. Вам приходится иметь дело с большим количеством личных данных, 
    и вы несете ответственность за соблюдение их конфиденциальности.</p>
  <p class="np-block2-text np-block2-text-mb">Одной из ключевых полезных рекомендаций является внутреннее хранение такой информации. Передавая ее сторонним организациям, 
    вы подвергаете данные риску взлома или копирования. Следовательно, вы заинтересованы в сохранении данных внутри организации, и самостоятельная печать 
    карт учащихся является частью этого процесса.</p>
</div>


<!-- 4 блок -->
<div class="b3-back">
<div class="b3-block">
  <h2 class="b3-heading">Оптимизируйте свою внутреннюю организацию и вложения</h2>
  <p class="b3-text">Новые технологии, изменения нормативных актов, изменение ситуации и т. д. требуют от вас практически постоянной адаптации. 
    Поэтому важно, чтобы у вас были внутренние инструменты, простые в ежедневном использовании, позволяющие сохранить гибкость.</p>
  <p class="b3-text">В частности, это подразумевает выбор интуитивно понятного программного обеспечения и эргономичного оборудования. Они должны иметь большой срок 
    службы и возможность адаптации, чтобы вы могли добавить функции, которые вам, возможно, потребуются в будущем.</p>
  <p class="b3-text">Долгосрочные вложения в оборудование также позволяют вписываться в бюджетные ограничения, с которыми вы, 
    скорее всего, часто сталкиваетесь. Вы действительно снижаете расходы:</p>
  <ul class="np-block3-list">
    <li>Использование принтера для печати на картах внутри учреждения позволяет избежать обращения к стороннему поставщику услуг и дает возможность контролировать сроки печати;</li>
    <li>Мгновенная печать и печать по запросу дают возможность не зависеть от минимальных заказов и позволяют знать фиксированную стоимость одной карты;</li>
    <li>Возможность модернизации принтера для печати на картах позволяет адаптировать его к новым потребностям без необходимости совершать новую покупку.</li>
  </ul>
  <p class="b3-text">Множество факторов, которые необходимо учитывать при выборе оборудования.</p>
</div>
</div>

<!-- 5 блок -->
<div class="np-block2 np-block2-mt">
  <h2 class="np-block2-heading">Поощряйте равенство среди учащихся с помощью многофункциональных школьных бейджей.</h2>
  <p class="np-block2-text">Услуги, которые вы предлагаете, должны быть одинаково легко доступны для всех учащихся. Использование носителя, который может 
    функционировать автономно, позволяет обеспечить всем ученикам одинаковые условия доступа.</p>
  <p class="np-block2-text ">В этом главное преимущество карты студента или школьника в формате кредитной карточки: она самодостаточна и 
    может быть использована любым учащимся, не вызывая сложностей.</p>
</div>

<div class="np-block2 np-block2-mt">
  <h2 class="np-block2-heading">Поощряйте равенство среди учащихся с помощью многофункциональных школьных бейджей.</h2>
  <p class="np-block2-text">Услуги, которые вы предлагаете, должны быть одинаково легко доступны для всех учащихся. Использование носителя, который может 
    функционировать автономно, позволяет обеспечить всем ученикам одинаковые условия доступа.</p>
  <ul class="np-block3-custom-list">
    <li>на картах студента или школьника;</li>
    <li>на бейджах преподавателей, сотрудников или посетителей;</li>
    <li>на картах для столовых;</li>
    <li>на школьных бейджах для выездных мероприятий;</li>
    <li>на проездных картах школьника;</li>
    <li>…</li>
  </ul>
  <p class="np-block2-text np-block2-text-mb">В этом главное преимущество карты студента или школьника в формате кредитной карточки: она самодостаточна и 
    может быть использована любым учащимся, не вызывая сложностей.</p>
</div>


</div>
{% endblock %}