{% extends "shop/base.html" %}
{% load static %}

{% block title %}Здравоохранение{% endblock %}

{% block content %}
<!--========== PARALLAX ==========-->
<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/sliders/Header7.jpg' %}">
    <div class="parallax-content container">
        <h2 class="carousel-title custom-header">Решения для идентификации в сфере  медицины и здравоохранения</h2>
        <p class="custom-paragraph">Решения ACUBE помогают организациям здравоохранения идентифицировать <br> людей и 
            имущество, а также повысить безопасность и эффективность процедур.</p>
    </div>
</div>
<!--========== PARALLAX ==========-->
<div class="back-company">

<!--Первый блок -->
<div class="b1-block">
  <div class="b1-app-row b1-block-left">
    <span class="b1-app-item">Приложение:</span>
    <span class="b1-app-item">Медицинские страховые карты</span>
    <span class="b1-app-item">Бейдж посетителя</span>
    <span class="b1-app-item">Бейдж сотрудников и управление доступом</span>
    <span class="b1-app-item">Цифровая подпись</span>
  </div>
  <hr class="b1-footer">
</div>

<div class="np-block">
  <!-- Вводный текст в начале блока -->
  <p class="np-intro">Ваше медицинское учреждение, открытое для публики и со множеством потоков, должно обеспечивать 
    гостеприимную и успокаивающую атмосферу для пациентов и сотрудников, учитывая при этом бюджетные ограничения. 
    Перед лицом угроз (кризис здравоохранения, терроризм, вторжения, кражи) важнейшее значение приобретает идентификация 
    людей и имущества.</p>
  
  <!-- Основное содержимое: левая колонка и правая колонка -->
  <div class="np-main-content">
  
    <!-- Левая колонка с текстом и списками -->
    <div class="np-left">
      <p class="np-left-header">Выпуская собственные идентификационные бейджи на пластиковых картах, 
        вы можете быстро и безопасно идентифицировать всех посетителей:</p>
      
      <!-- Первый список -->
      <ul class="np-left-list">
        <li>Медицинские работники (врачи, медсестры, акушерки),</li>
        <li>Административные работники, пациенты, посетители,</li>
        <li>Медицинское оборудование и другие товары.</li>
      </ul>
      
    <p class="np-left-header">Помимо визуальной идентификации, на одном и том же бейдже можно интегрировать 
        несколько других функций, таких как :</p>
      <!-- Второй список (аналогичный по оформлению) -->
      <ul class="np-left-list">
        <li>Контроль доступа в определенные чувствительные зоны,</li>
        <li>Автоматическое управление рабочим временем и посещаемостью сотрудников,</li>
        <li>Дематериализованная оплата за еду.</li>
      </ul>
    </div>
    
    <!-- Правая колонка с изображением -->
    <div class="np-right">
      <img src="{% static 'img/proposal/health.webp' %}" alt="Изображение блока" class="np-image">
    </div>
    
  </div>
  
  <!-- Нижние тексты блока -->
  <div class="np-bottom-text">
    <p>Таким образом, ваше заведение предлагает как безопасную среду, так и расширенный опыт для всех аудиторий с простотой 
        одного бейджа.</p>
    <p>Кроме того, благодаря планшетам с цифровой подписью, значительно упрощается управление административными документами 
        путем их дематериализации. Процессы входа и выхода из вашей организации становятся проще и быстрее, вы экономите время 
        и надежность в управлении всеми личными и административными документами.</p>
  </div>
</div>



</div>
{% endblock %}