{% extends "shop/base.html" %}
{% load static %}

{% block title %}Платежная карта{% endblock %}

{% block content %}
<!--========== PARALLAX ==========-->
<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/sliders/Header4.jpg' %}">
    <div class="parallax-content container">
        <h2 class="carousel-title custom-header">Улучшите имидж вашего бренда </h2>
        <p class="custom-paragraph">Возможность получать персонализированные банковские карты на месте воспринимается клиентами очень
            позитивно. Благодаря решениям ACUBE вы можете легко предложить эту услугу, обеспечивая оптимальную безопасность 
            и соответствие рекомендациям платежных сетей.</p>
    </div>
</div>
<!--========== PARALLAX ==========-->
<div class="back-company">
<!--Первый блок -->
<div class="b1-block">
  <div class="b1-app-row b1-block-left">
    <span class="b1-app-item">Приложение:</span>
    <span class="b1-app-item">Банковская карта</span>
    <span class="b1-app-item">Цифровая подпись</span>
  </div>
  <hr class="b1-footer">
</div>

<!-- Второй блок -->
<div class="b2-block">
  <div class="b2-features">
    <div class="b2-feature-item">
      <div class="b2-feature-header">
        <h4 class="b2-feature-title">Предоставьте практическое решение проблем, стоящих перед банками</h4>
      </div>
      <p class="b2-feature-desc">Благодаря мгновенному выпуску платежных карт клиенты могут получать их прямо в банке. 
        Этот метод производства карт обладает множеством преимуществ, решая при этом основные задачи, с которыми сталкиваются банки:
    </p>
    </div>  
    <div class="b2-feature-item">
      <div class="b2-feature-header">
        <i class="fa-solid fa-chart-line b2-feature-icon"></i>
        <h4 class="b2-feature-title">Предложение все более инновационных услуг.</h4>
      </div>
      <p class="b2-feature-desc">Мгновенное получение банковских карт — это услуга, которая пользуется большой популярностью у 
        клиентов. Будь то открытие счета, продление или замена карты, быстрое получение карты воспринимается очень позитивно. 
        Удовлетворенность клиентов укрепляет их лояльность и благотворно влияет на имидж бренда банка. Эта услуга уже широко 
        распространена в некоторых странах и активно развивается в других. Поэтому предложение такой услуги — это способ выделиться 
        на фоне конкурентов.</p>
    </div>
    
    <div class="b2-feature-item">
      <div class="b2-feature-header">
        <i class="fa-regular fa-clock b2-feature-icon"></i>
        <h4 class="b2-feature-title">Оптимизация оперативности и гибкости обслуживания.</h4>
      </div>
      <p class="b2-feature-desc">За последние годы клиенты стали ожидать более высокую скорость обслуживания, когда речь идет 
        о предлагаемых продуктах и услугах. Банковский сектор не является исключением и также должен предложить реальные решения 
        для удовлетворения этого спроса. Мгновенная выдача платежных карт клиентам отвечает этой тенденции, обеспечивая 
        удовлетворенность клиентов. Выдача карт по требованию позволяет банкам быстро обслуживать клиентов.</p>
    </div>
    
    <div class="b2-feature-item">
      <div class="b2-feature-header">
        <i class="fa-solid fa-lock b2-feature-icon"></i>
        <h4 class="b2-feature-title">Гарантия безопасности процесса.</h4>
      </div>
      <p class="b2-feature-desc">Безопасность является центральным вопросом для банков. Решения Evolis для мгновенного выпуска 
        платежных карт соответствуют рекомендациям платежных систем:
    </p>
    <ul class="np-block3-list np-block3-list-col">
        <li><b>Доступ к расходным материалам:</b> механический замок с ключом предотвращает доступ к картам и печатной ленте, тем самым 
        ограничивая риск кражи расходных материалов.
        </li>
        <li><b>Обработка персональных данных:</b> скремблирование данных, имеющихся на ленте после печати, с помощью функции Kineclipse® 
        и удаление цифровых данных, отправленных на принтер, с помощью функции цифрового стирания гарантирует, 
        что используемые персональные данные останутся конфиденциальными.
        </li>
        <li><b>Получение карты:</b> мгновенное получение карты ограничивает риск мошенничества. В то время как карта, отправленная по 
        почте, может быть перехвачена мошенниками.
        </li>
    </ul>
    </div>

    <div class="b2-feature-item">
      <div class="b2-feature-header">
        <i class="fa-solid fa-hand-holding-dollar b2-feature-icon"></i>
        <h4 class="b2-feature-title">Обеспечение дополнительного дохода.</h4>
      </div>
      <p class="b2-feature-desc">Некоторые из вышеперечисленных преимуществ позволяют банкам получать дополнительный доход и экономить:</p>
      <ul class="np-block3-list np-block3-list-col">
        <li><b>Экономия на почтовых расходах::</b> мгновенная передача карт не предполагает почтовых расходов, что позволяет 
            экономить на канцелярских товарах и пересылке.
        </li>
        <li><b>Снижение риска мошенничества:</b>  в случае отправки почтой при потере или краже почтового отправления, 
            содержащего карту или PIN-код, банк вынужден перевыпускать документы, что влечет за собой дополнительные расходы. 
            Кроме того, в случае использования украденной карты могут взиматься дополнительные комиссии за счет банка.
        </li>
        <li><b>Более быстрая активация карты</b> чем быстрее клиент получает карту, тем быстрее он ее активирует и, соответственно, 
            использует. <br> Согласно данным банков, предлагающих данную услугу, активация карт, выданных на руки, на 20% выше, чем у карт, 
            отправленных по почте.
        </li>
        </ul>
    </div>
</div>

<!-- Блок с фоном ввиде фотки -->
<div class="b-payCard-back-igm"></div>

<!-- следуеший блок -->
<div class="np-block2-payCard np-block2-mt">
  <h2 class="np-block2-heading">Решения для всех типов банковских карт.</h2>
  <p class="np-block2-text">Благодаря широкому спектру решений для печати карт, идеально адаптированных к потребностям финансового 
    рынка, мы можем удовлетворить все требования для мгновенного выпуска банковских карт. Это означает, что с помощью решений 
    ACUBE можно выпускать любые типы карт:</p>
  <ul class="np-block3-list np-block3-list-col">
        <li><b>Виды карт:</b> дебетовые карты, кредитные карты, карты предоплаты, карты для снятия наличных.
        </li>
        <li><b>Кодирование данных:</b>  персонализация магнитной полосы, контактный и бесконтактный чипы.
        </li>
        <li><b>Персонализация дизайна:</b> цветные, однотонные, пустые или предварительно персонализированные карты. 
            Наши решения по персонализации банковских карт предлагают подходящие технологии печати для различных вариантов дизайна.
        </li>
        <li><b>Эмбоссирование</b> эмбоссирование символов на лицевой стороне банковской карты и индент-печать — это функция, которую 
            поддерживают наши модели принтеров. Эмбоссирование по-прежнему широко используется, хотя «плоский дизайн» начинает набирать
             популярность.
        </li>
    </ul>
    <p class="np-block2-text np-block2-text-mb">Будучи экспертами в области мгновенного выпуска банковских карт, мы удовлетворяем потребности 
        сегодняшнего и завтрашнего дня. Именно поэтому мы разрабатываем масштабируемые решения, чтобы быть более подготовленными к 
        будущим тенденциям использования банковских карт. Более подробно об этих тенденциях можно узнать в нашем специальном 
        руководстве.</p>
</div>

<!-- следующий блок -->
<div class="b3-block b3-block-payCard ">
  <h2 class="b3-heading">Сделайте мгновенный выпуск карт и другие услуги полностью дигитализированными с помощью 
    электронной подписи документов в отделении банка.
</h2>
  <p class="b3-text">Существует множество процедур, требующих подписи ваших клиентов: открытие банковского счета, 
    получение кредита, оформление страховки, выдача чековой книжки или банковской карты… Почти для всех услуг и 
    продуктов, которые вы предлагаете, требуется подпись клиента.</p>
  <ul class="np-block3-list">
    <li>Использование электронной подписи имеет для банков много преимуществ. В них входят следующие:</li>
    <li>Оптимизация безопасности: использование панелей цифровой подписи обеспечивает целостность и безопасность 
        подписанного документа и гарантирует личность подписавшего.</li>
    <li>Экономия времени и места: договоры могут занимать сотни страниц, которые необходимо подписывать, распечатывать и 
        архивировать. При использовании электронной подписи подписывающему лицу достаточно один раз подписать документ для 
        его подтверждения, нет необходимости распечатывать договор, а архивирование осуществляется с помощью компьютера. 
        Это не только экономит бумагу, но и значительно сокращает физическое пространство для хранения.</li>
    <li>Модернизация имиджа: бумажные подписи могут быть для клиентов утомительными. Экономя время и повышая степень комфорта для 
        своих клиентов благодаря использованию электронных подписей, вы также улучшаете имидж своего бренда.</li>
  </ul>
  <p class="b3-text">В зависимости от типа выполняемой процедуры клиент может поставить электронную подпись за стойкой, в приемной 
    отделения или в отдельном кабинете во время приема. Поэтому для повышения эффективности рекомендуется установить во всех этих 
    местах соответствующее оборудование.</p>
</div>


</div>
{% endblock %}