{% extends "shop/base.html" %}
{% load static %}

{% block title %}Розничная торговля{% endblock %}

{% block content %}
<!--========== PARALLAX ==========-->
<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/sliders/Header3.jpg' %}">
    <div class="parallax-content container">
        <h2 class="carousel-title custom-header">Персонализация пластиковых карт для ритейла</h2>
        <p class="custom-paragraph">Инновационные решения Evolis обеспечивают мгновенную выдачу карт постоянного покупателя и 
            пластиковых ценников, что позволит Вам увеличить качество обслуживания покупателей, сохранить покупателей и 
            увеличить объем продаж.</p>
    </div>
</div>
<!--========== PARALLAX ==========-->
<div class="back-company">
<!--Первый блок -->
<div class="b1-block">
  <div class="b1-app-row ">
    <span class="b1-app-item">Приложение:</span>
    <span class="b1-app-item">Дисконтные карты</span>
    <span class="b1-app-item">Карты предоплаты и подарочные карты</span>
    <span class="b1-app-item">Выставочные таблички для произведений искусства</span>
    <span class="b1-app-item">Ценники</span>
    <span class="b1-app-item">Цифровая подпись</span>
  </div>
  <hr class="b1-footer">
</div>

<!-- второй блок -->
<div class="np2-block np2-block1 np2-block-mt">
  <div class="np2-content">
    <div class="np2-image">
      <img src="{% static 'img/proposal/Image-4.png' %}" alt="Изображение блока 1">
    </div>
    <div class="np2-text">
      <h2 class="np2-title">Дисконтные карты</h2>
      <p class="np2-description">
        Заинтересованность клиентов является важной движущей силой для роста бизнеса. Возможность печатать дисконтные 
        карты самостоятельно дарит вам независимость и оперативность, а также помогает увеличить оборот.
      </p>
    </div>
  </div>
</div>

<div class="np2-block np2-block2">
  <div class="np2-content reverse">
    <div class="np2-image">
      <img src="{% static 'img/proposal/Image-3.png' %}" alt="Изображение блока 2">
    </div>
    <div class="np2-text">
      <h2 class="np2-title">Ценники</h2>
      <p class="np2-description">
        Напечатав на пластиковых картах ценники с индивидуализированным дизайном, вы сможете повысить эффективность 
        продаж и сделать оформление прилавков более гармоничным.
      </p>
    </div>
  </div>
</div>

<div class="np2-block np2-block1 np2-block-mt">
  <div class="np2-content">
    <div class="np2-image">
      <img src="{% static 'img/proposal/Image-1-1.png' %}" alt="Изображение блока 1">
    </div>
    <div class="np2-text">
      <h2 class="np2-title">Карты предоплаты и  <br> подарочные карты</h2>
      <p class="np2-description">
        Дайте вашим клиентам возможность приобрести персонализированные карты предоплаты и подарочные карты. 
        С помощью принтеров Evolis для печати карт их легко изготовить на месте, не заставляя клиентов ждать.
      </p>
    </div>
  </div>
</div>

<div class="np2-block np2-block2">
  <div class="np2-content reverse">
    <div class="np2-image">
      <img src="{% static 'img/proposal/Image-1.png' %}" alt="Изображение блока 2">
    </div>
    <div class="np2-text">
      <h2 class="np2-title">Цифровая подпись</h2>
      <p class="np2-description">
        Компании розничной торговли, предоставляющие своим клиентам и сотрудникам возможности цифрового подписания 
        документов, повышают эффективность работы и документооборота, а также сокращают расходы.
      </p>
    </div>
  </div>
</div>

<div class="np2-block np2-block1 np2-block-mt np2-block-pb">
  <div class="np2-content">
    <div class="np2-image">
      <img src="{% static 'img/proposal/Image-2.png' %}" alt="Изображение блока 1">
    </div>
    <div class="np2-text">
      <h2 class="np2-title">Выставочные таблички для произведений искусства</h2>
      <p class="np2-description">
        Создавайте профессиональные таблички для произведений искусства с учетом собственных потребностей, 
        чтобы выгодно представлять свои работы на выставке.
      </p>
    </div>
  </div>
</div>

</div>
{% endblock %}