{% extends "shop/base.html" %}
{% load static %}

{% block title %}Государственные органы{% endblock %}

{% block content %}
<!--========== PARALLAX ==========-->
<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/sliders/Header5.jpg' %}">
    <div class="parallax-content container">
        <h2 class="carousel-title custom-header">Выпуск защищенных карт для гос.проектов</h2>
        <p class="custom-paragraph">Решения ACUBE для печати и кодирования позволяют правительствам выпускать 
            высокозащищенные официальные документы и предотвращать подделку удостоверений личности.</p>
    </div>
</div>
<!--========== PARALLAX ==========-->
<div class="back-company">

<!--Первый блок -->
<div class="b1-block">
  <div class="b1-app-row b1-block-left">
    <span class="b1-app-item">Приложение:</span>
    <span class="b1-app-item">Медицинские страховые карты</span>
    <span class="b1-app-item">Водительские удостоверения</span>
    <span class="b1-app-item">Национальные удостоверения личности</span>
  </div>
  <hr class="b1-footer">
</div>

<!-- Второй блок -->
<div class="b2-block ">
  <div class="b2-features">
    <div class="b2-feature-item">
      <div class="b2-feature-header">
        <h4 class="b2-feature-title">Чтобы выбрать подходящее оборудование, проанализируйте свой проект</h4>
      </div>
      <p class="b2-feature-desc">Проект выпуска официальных документов на картах зависит от целевой аудитории. 
        Другими словами: для кого предназначены карты? Существует два основных типа проектов печати государственных карт: 
        проекты, нацеленные на конкретную целевую группу населения, и проекты национального масштаба.
    </p>
    </div>  
    <div class="b2-feature-item">
      <div class="b2-feature-header">
        <i class="fa-solid fa-bullseye b2-feature-icon"></i>
        <h4 class="b2-feature-title">Проекты, ориентированные на целевую аудиторию.</h4>
      </div>
      <p class="b2-feature-desc">В проектах такого типа группа людей в большинстве случаев определяется по социально-демографическим 
        или профессиональным критериям. Проект может быть нацелен, например, на всех жителей одного города, людей определенного 
        возраста или даже тех, кто имеет определенную профессию (полицейское удостоверение, военное удостоверение и т. д.). 
        Предоставляя им персонализированную карту, вы позволяете им использовать различные услуги, льготы, привилегии или права, 
        доступные им. Карта служит официальным физическим доказательством их принадлежности к определенной группе.</p>
      <p class="b2-feature-desc">В проектах такого типа количество выпущенных карт относительно невелико, что делает мгновенную 
        печать карт тем более подходящей. Вы можете напечатать карты по запросу и мгновенно выдать их целевым лицам. Это очень 
        интересный метод получения доступа к целевой группе населения.</p>
    </div>
    
    <div class="b2-feature-item">
      <div class="b2-feature-header">
        <i class="fa-solid fa-users b2-feature-icon"></i>
        <h4 class="b2-feature-title">Проекты национального масштаба.</h4>
      </div>
      <p class="b2-feature-desc">Такие проекты ориентированы на все население страны. Количество выпущенных карт часто очень велико — 
        от нескольких тысяч до нескольких миллионов. Это могут быть удостоверения личности, водительские удостоверения, карты 
        социального страхования, регистрационные карты избирателей и т. д. Некоторые из таких проектов можно выполнять с 
        использованием промышленных принтеров (в странах с соответствующей инфраструктурой). Для стран, в которых нет такой 
        инфраструктуры, печать с помощью настольных принтеров является очевидным решением, гибким и простым в развертывании.</p>
    </div>
    
    <div class="b2-feature-header">
        <h4 class="b2-feature-title">Решения для всех типов банковских карт.</h4>
      </div>
      <p class="b2-feature-desc">Настольные принтеры подходят как для централизованной, так и для мгновенной печати.</p>
      <p class="b2-feature-desc">Для мгновенной печати принтеры отправляются на разные объекты. Это позволяет распределить 
        оборудование географически, а производственные мощности становятся легко доступными и способными быстро реагировать.
    </p>
      <p class="b2-feature-desc">На наших принтерах для карт также возможна централизованная печать. 
        В этой конфигурации все они сгруппированы в одном месте. По сравнению с промышленными моделями установка и ввод в 
        эксплуатацию настольных принтеров происходит намного быстрее, благодаря чему они идеально подходят для проектов со 
        сжатыми сроками. Производственную мощность также можно легко отрегулировать, подобрав количество установленных принтеров.
    </p>
    </div> 

    <div class="b2-single-image np-block2-text-mb">
        <img src="{% static 'img/proposal/Image-2-1.png' %}" alt="Единичное изображение блока" class="b2-img">
        <img src="{% static 'img/proposal/Image45445.png' %}" alt="Единичное изображение блока" class="b2-img">
        <img src="{% static 'img/proposal/Image-1-2.png' %}" alt="Единичное изображение блока" class="b2-img">
    </div>

</div>

<!-- 3 блок -->
<div class="b3-back-state">
<div class="b3-block">
  <h2 class="b3-heading">Преимущества настольных принтеров на каждом этапе печати официальных документов</h2>
  <p class="b3-text">Каждый проект, будь то местного или национального масштаба, проводится в четыре этапа, 
    от записи личных данных до конечного использования карты.</p>
    <h3 class="b5-mini-heading-state">Запись личных данных и управление ими</h3>
    <p class="b3-text">Этот этап начинается со сбора данных населения. Эти данные могут включать в себя ФИО, дату рождения, 
        а также биометрические данные, например, снятые отпечатки пальцев. Затем настольные принтеры могут встроить эти данные 
        непосредственно в карту будущего пользователя, обеспечивая графическую персонализацию с помощью функции печати и электрическую 
        персонализацию с помощью различных вариантов кодирования.</p>
    <h3 class="b5-mini-heading-state">Изготовление официального документа</h3>   
    <p class="b3-text">Графической и электрической персонализации не всегда достаточно для создания готовой к использованию карты. 
        Из соображений безопасности и долговечности может потребоваться ламинирование защитными пленками и покрытиями, возможно 
        включение голографических элементов. Все это можно выполнить мгновенно с помощью принтера для карт.</p>
    <h3 class="b5-mini-heading-state">Распространение официального документа</h3>
    <p class="b3-text">В децентрализованной системе мгновенной печати карта распечатывается и сразу выдается пользователю. 
        Распространение не зависит от почтовой службы — в зависимости от страны этот способ более-менее надежен (не исключается 
        потеря или кража почты), но сроки доставки могут быть очень длительными. С помощью решения для мгновенной печати карт 
        процент зарегистрированных людей, которые фактически получают свои карты, приближается к 100%.</p>
    <span class="b5-mini-heading-state">Использование официального документа</span>
    <p class="b3-text">Выданный официальный документ затем используется более-менее регулярно, в зависимости от обстоятельств. 
        Такие официальные документы обычно имеют относительно долгий срок службы, поэтому используемый для них носитель должен 
        быть очень прочным. Благодаря функции ламинирования, имеющейся в некоторых принтерах, документы можно использовать до 10 лет.
    </p>
</div>
</div>

<div class="b5-block">
  <div class="b5-content">
    <!-- Левый столбец: фотография -->
    <div class="b5-left">
      <img src="{% static 'img/proposal/Image1546646.png' %}" alt="Фото блока 5" class="b5-photo-state">
    </div>
    <!-- Правый столбец: текстовый контент -->
    <div class="b5-right">
      <h2 class="b5-heading-state">Конкретные решения проблем, с которыми сталкиваются государственные органы.</h2>
      <p class="b5-text-state">
        При выпуске этих официальных документов необходимо учитывать следующие факторы:
      </p>
      <!-- Три мини-элемента -->
      <div class="b5-mini-item">
      <div class="b5-mini-row">
          <span class="b5-mini-icon-state">
           <i class="fa-solid fa-scale-balanced"></i>
          </span>
        <span class="b5-mini-headin-state">Ограничение затрат на официальные документы</span>
      </div>
      </div>
      <div class="b5-mini-item">
        <div class="b5-mini-row">
            <span class="b5-mini-icon-state">
              <i class="fa-solid fa-user-plus"></i>
            </span>
          <span class="b5-mini-headin-state">Обеспечение общедоступности и <br>предоставление всем одинаковых прав</span>
        </div>
      </div>
      <div class="b5-mini-item">
          <div class="b5-mini-row">
              <span class="b5-mini-icon-state">
                  <i class="fa-solid fa-shield-halved"></i>
                </span>
                <span class="b5-mini-headin-state">Гарантия защищенности документов, чтобы <br> сократить случаи мошенничества</span>
            </div>
        </div>
      <div class="b5-mini-item">
        <div class="b5-mini-row">
            <span class="b5-mini-icon-state">
             <i class="fa-solid fa-copy"></i>
            </span>
          <span class="b5-mini-headin-state">Изготовление документов высокого качества</span>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 4 блок -->
<div class="b3-backgr-state">
<div class="b3-block">
  <h2 class="b3-heading-state">Обеспечение общедоступности за счет всеобщего распространения</h2>
    <p class="b3-text-state">Всеобщее распространение является центральным критерием, поскольку отражает равенство всех жителей. Это 
        означает, что каждый может получить доступ к одним и тем же услугам и иметь одинаковые права. Итак, как можно гарантировать, 
        что большинство населения получит доступ к официальным документам и таким образом будет предотвращена любая форма дискриминации? 
        Ответ на этот вопрос по большей части заключается в выборе способа всеобщего распространения.</p>
    <p class="b3-text-state">Лучший способ осуществить этот решающий этап распространения — доставить официальный документ лично в руки. 
        Это обеспечивает корректное распространение конкретного документа, в отличие от использования почтовых услуг, когда имеется 
        риск недоставки. В этом случае особенно подходят принтеры для карт, предусмотренные для децентрализованной печати, поскольку 
        они позволяют выпускать карты мгновенно. 
    <p class="b3-text-state">Они компактны и просты в установке, так что их применение дает гибкость и обеспечивает несколько вариантов 
        использования:</p>
    <div class="b4-item">
      <div class="b4-item-left">
        <div class="b4-circle">1</div>
      </div>
      <div class="b4-item-right">
        <p class="b4-item-text">В разных регионах по всей стране — особенно подходит для стран, состоящих из нескольких островов, 
            или с географически разделенными регионами. Это может быт реализовано с помощью терминалов самообслуживания.</p>
      </div>
    </div>
    <div class="b4-item">
      <div class="b4-item-left">
        <div class="b4-circle">2</div>
      </div>
      <div class="b4-item-right">
        <p class="b4-item-text">Использование портативного решения (например, в кожухе) — позволяет охватить крупные страны с большими 
            территориями и низкой плотностью населения. Принтеры, используемые для такого рода проектов, полностью автономны и 
            используют солнечную энергию. Они также имеют защитный кожух, улучшающий условия транспортировки (защищает от 
            попадания грязи, песка, земли и т. д.)</p>
      </div>
    </div>
     <h2 class="b3-heading-state">Создание защищенных документов с использованием соответствующих технологий</h2>
     <p class="b3-text-state">Вопрос безопасности при выпуске государственными органами официальных документов имеет два аспекта:</p>
    <div class="b4-item">
      <div class="b4-item-left">
        <div class="b4-circle">1</div>
      </div>
      <div class="b4-item-right">
        <p class="b4-item-text">Гарантия защищенности производственного процесса;</p>
      </div>
    </div>
    <div class="b4-item">
      <div class="b4-item-left">
        <div class="b4-circle">2</div>
      </div>
      <div class="b4-item-right">
        <p class="b4-item-text">Подготовка итогового документа с требуемым уровнем безопасности.</p>
      </div>
    </div>   
        <p class="b3-text-state">Мгновенная выдача официальных документов с помощью принтеров для карт соответствует этим двум целям. 
        Это оборудование может быть защищено с помощью различных систем блокировки. Такие меры предотвращают доступ и, следовательно,
         кражу расходных материалов (карт и лент), а также отклоненных невыданных карт, которые затем могут быть использованы в 
         мошеннических целях.</p>
    
         <p class="b3-text-state">Печатные данные также можно защитить. Благодаря таким технологиям, как цифровое скремблирование и 
        скремблирование ленты, данные не хранятся в принтерах и не читаются на ленте.</p>
    
        <p class="b3-text-state">Децентрализованная мгновенная печать карт также позволяет избежать использования услуг поставщиков, которые 
        зачастую находятся за пределами страны. Локальное производство позволяет странам сохранять независимый контроль над данными 
        своего населения. Таким образом, государственный орган становится полностью независимым в выпуске своих официальных документов 
        и имеет доступ к более защищенному технологическому процессу, который не требует участия какой-либо третьей стороны.</p>
    
        <p class="b3-text-state">Также повышается защищенность самого документа. Цель состоит в том, чтобы сделать официальный документ как 
        можно более сложным для подделывания. С этой целью принтер выполняет графическую и электрическую персонализацию карты. В 
        зависимости от степени персонализации и используемых технологий у вас есть доступ к различным уровням безопасности, от самого 
        простого до максимального: личные данные, цветная фотография, магнитная полоса, биометрический штрих-код, УФ-печать, 
        микропечать, голограмма (CLR, трехмерный фон, эффект рельефности и т. д.), контактный чип, бесконтактный чип, биометрические 
        данные и т. д.</p>
    
        <p class="b3-text-state">Все эти возможности персонализации можно комбинировать, что еще более усиливает защищенность документа. Таким 
        образом, вы можете найти баланс между желаемым уровнем защищенности и вашим бюджетом. Стоимость проверки подлинности документа 
        зависит от используемых на карте элементов защиты:</p>

    <ul class="np-block3-list np-block3-list-col">
        <li><b>защитные признаки, видимые невооруженным глазом — </b> простая и быстрая визуальная идентификация,
             не требующая оборудования или обучения;
        </li>
        <li><b>защитные признаки, невидимые невооруженным глазом — </b>  идентификация с помощью простого оборудования (увеличительное 
            стекло, фонарик, УФ-лампа, инфракрасная лампа, лазерное перо и т. д.);
        </li>
        <li><b>защитные признаки экспертного уровня</b>  идентификация с использованием сложного лабораторного оборудования,
             что требует высокого уровня навыков и знаний.
        </li>
    </ul>
     <h2 class="b3-heading-state">Обеспечение высокого качества выдаваемых документов</h2>
     <p class="b3-text-state">Не меньшую важность имеет качество изготовления официального документа. Оно должно::</p>
    <div class="b4-item">
      <div class="b4-item-left">
        <div class="b4-circle">1</div>
      </div>
      <div class="b4-item-right">
        <p class="b4-item-text">Повышать уровень защиты документов;</p>
      </div>
    </div>
    <div class="b4-item">
      <div class="b4-item-left">
        <div class="b4-circle">2</div>
      </div>
      <div class="b4-item-right">
        <p class="b4-item-text">Придавать документу официальный и современный вид;</p>
      </div>
    </div>
    <div class="b4-item">
      <div class="b4-item-left">
        <div class="b4-circle">2</div>
      </div>
      <div class="b4-item-right">
        <p class="b4-item-text">Гарантировать долговечность документа, используемого в течение нескольких лет.</p>
      </div>
    </div>
    <p class="b3-text-state"><b>Пластиковая карта служит долго и хорошо переносит эксплуатацию.</b> В зависимости от послепечатной 
        обработки она может иметь срок службы до 10 лет (в частности, благодаря модулю ламинирования). Это реальное преимущество, 
        потому что официальные документы часто приходится хранить очень долго.</p>
    <p class="b3-text-state"><b>Качественное фото</b>необходимо для того, чтобы обеспечить эффективную идентификацию держателя документа и, 
        таким образом, повысить защищенность карты. Качество выпускаемых карт также зависит от используемой технологии печати. 
        Печать «в край», высокая резкость печати и т. д. В зависимости от желаемого внешнего вида у вас есть выбор между 
        технологией D2T2 и ретрансфером.</p>        
    </div>
</div>

<!-- 5 блок -->
<div class="b3-back-state-second">
<div class="b3-block">
      <h2 class="b3-heading">Панели цифровой подписи — упрощают процессы, оптимизируют расходы
    </h2>
    <p class="b3-text">Процедура выдачи официальных документов часто требует подписи гражданина. Обработка подписей на 
        бумаге связана со многими ограничениями: длительный процесс (печать, сканирование, хранение, отправка), сложность 
        быстрого поиска бумажного документа после архивации, значительные затраты, связанные с необходимым оборудованием 
        (бумажный принтер, бумага, чернила, сканер и т. д.), неоптимальная защита принадлежащих жителям данных и др. Решением, 
        преодолевающим эти ограничения, является использование панели цифровой подписи.</p>
    <h2 class="b3-heading">Уникальное решение для уникального проекта.
    </h2>
    <p class="b3-text">Наша команда разработчиков, занимающаяся исследованием и реализацией ваших проектов, выполняет 
        государственные заказы уже более 20 лет. Каковы бы ни были масштабы и сложность, они используют все свои компетенции 
        для реализации вашего проекта. Вот почему мы можем предложить полностью индивидуальные решения.</p>
</div>
</div>


</div>
{% endblock %}