{% extends "shop/base.html" %}
{% load static %}

{% block title %}Транспорт{% endblock %}

{% block content %}

<!--========== PARALLAX ==========-->
<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/sliders/Header8.png' %}">
    <div class="parallax-content container">
        <h2 class="carousel-title custom-header">Персонализация транспортных карт</h2>
        <p class="custom-paragraph">Используя принтеры ACUBE, увеличьте прибыльность вашей транспортной сети с помощью 
            мгновенной выдачи дополнительных персонализованных проездных билетов.</p>
    </div>
</div>
<!--========== PARALLAX ==========-->
<div class="back-company">

<!--Первый блок -->
<div class="b1-block">
    <div class="b1-app-row b1-block-left">
        <span class="b1-app-item">Приложение:</span>
        <span class="b1-app-item">Проеездная карта</span>
    </div>
    <hr class="b1-footer">
</div>

<!-- 2 блок -->

<div class="b4-block">
  <!-- Заголовок, подзаголовок и описание -->
  <h2 class="b4-heading">Оптимизация выдачи транспортных карт.</h2>
  <p class="b4-description">Чтобы удовлетворить постоянно растущий спрос и предложить безупречное качество обслуживания, 
    транспортные операторы должны иметь возможность полагаться на превосходную, совместимую и мультимодальную систему печати 
    карт, в которой бесконтактная карта часто является центральным элементом. Наши решения обеспечивают повышенную гибкость, 
    позволяя быстро выпускать именные карты, персонализированные как графически, так и электронно в месте продажи.
  </p>
  
  <!-- Список из 6 элементов -->
  <div class="b4-items">
    <h3 class="b4-subheading">Удобство для пассажиров.</h3>
    <!-- Повторите подобную структуру 6 раз, можно менять число внутри круга -->
    <div class="b4-item">
      <div class="b4-item-left">
        <div class="b4-circle">1</div>
      </div>
      <div class="b4-item-right">
        <h4 class="b4-item-heading">Экономия времени</h4>
        <p class="b4-item-text">Процедура получения карты упрощается и для пользователя, и для оператора 
            (не нужно заполнять бумажные анкеты и заявки, нет задержки на почте и отсутствует риск утери карты в пути);</p>
      </div>
    </div>
    <div class="b4-item">
      <div class="b4-item-left">
        <div class="b4-circle">2</div>
      </div>
      <div class="b4-item-right">
        <h4 class="b4-item-heading">Немедленное использование</h4>
        <p class="b4-item-text">Транспортные карты персонализируются по запросу и могут быть использованы сразу же. Пользователи, 
            которые потеряли свой проездной, продлевают его или оформляют его впервые, могут все это сделать быстро и удобно.</p>
      </div>
    </div>
  </div>
</div>

<!-- Следуюший блок -->
<div class="b5-back-second">
<div class="b5-block">
  <div class="b5-content">
    <!-- Левый столбец: фотография -->
    <div class="b5-left">
      <img src="{% static 'img/proposal/metrogirl.png' %}" alt="Фото блока 5" class="b5-photo-trns">
    </div>
    <!-- Правый столбец: текстовый контент -->
    <div class="b5-right">
      <h2 class="b5-heading">Долговременное решение</h2>
      <!-- Три мини-элемента -->
      <div class="b5-mini-item">
        <p class="b5-mini-desc">Команда, специально выделенная для вашего проекта, обеспечивает его успешную реализацию 
            на каждом этапе:</p>
      </div>
      <div class="b5-mini-item">
        <ul class="np-block3-list ">
        <li>Изучение технических характеристик</li>
        <li>Внедрение решения, стандартного или специального, включая аппаратное обеспечение 
        (принтеры и расходные материалы),программное обеспечение и услуги</li>
        <li>Оценка и тестирование на заводе и на объекте</li>
        <li>Развертывание решения</li>
        <li>Обеспечение технического обслуживания через местных партнеров и постоянное совершенствование.</li>
        </ul>
      </div>
      <div class="b5-mini-item">
        <p class="b5-mini-desc">Это гарантирует оптимальное функционирование наших систем как части вашего решения 
            по выпуску транспортных карт.</p>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Следующий блок -->
<div class="b4-block">
<h2 class="b4-heading">Полная интеграция с вашими решениями.</h2>
  <p class="b4-description">Мы работаем с главными специалистами в области билетных систем и разработали продукты и услуги, 
    которые можно легко интегрировать с глобальными решениями по выпуску транспортных карт:
  </p>

<ul class="np-block3-trns">
        <li><b> Решения, разработанные по запросу: мы можем создать решения, соответствующие вашим конкретным <br>потребностям,
           адаптированные к физической и программной инфраструктуре транспортного оператора.</b> 
        </li>
        <li><b>Адаптивность: модульная конструкция — наши решения могут адаптироваться в том же темпе, что и ваши проекты;</b>
        </li>
        <li><b>Пакет SDK позволяет легко настраивать принтеры в соответствии с конкретными потребностями вашего проекта;</b>
        </li>
        <li><b>Интеграция всех типов энкодеров, включая энкодеры собственной разработки. Возможность комбинирования следующих устройств:</b>
        </li>
</ul>

<ul class="np-block3-trns-second">
        <li> Магнитная карта: ISO 3 track • HiCo/LoCo, JIS2</li>
        <li>Контактная смарт-карта: ISO 7816</li>
        <li>Бесконтактная смарт-карта: ISO 14443 A и B (MIFARE, DESFire, Calypso), ISO 15693 (iClass), ISO 18092 (FeliCa)</li>
        <li>Двухконтактная/бесконтактная смарт-карта</li>
        <li>Мультирегиональный энкодер UHF</li>
        <li>Кодирование по сети TCP/IP</li>
</ul>
</div>
<!-- 4 блок -->
<div class="b5-block">
  <div class="b5-content-trns">
    <!-- Левый столбец: фотография -->
    <div class="b5-left">
      <img src="{% static 'img/proposal/metrogirl2.png' %}" alt="Фото блока 5" class="b5-photo-state">
    </div>
    <!-- Правый столбец: текстовый контент -->
    <div class="b5-right">
      <h2 class="b5-heading-state">Выдача карт по требованию в кассе</h2>
      <p class="b5-text-state">
        Компания ACUBE разрабатывает принтеры для печати карт, которые подходят для децентрализованной выдачи:
      </p>
      <!-- Три мини-элемента -->
      <div class="b5-mini-item">
      <div class="b5-mini-row">
          <span class="b5-mini-icon-state">
           <i class="fa-solid fa-bolt"></i>
          </span>
        <span class="b5-mini-headin-trns"><b>Скорость: </b>транспортные карты, односторонние или двусторонние, выдаются всего 
          за несколько секунд;
        </span>
      </div>
      </div>
      <div class="b5-mini-item">
        <div class="b5-mini-row">
            <span class="b5-mini-icon-state">
              <i class="fa-solid fa-check-double"></i>
            </span>
          <span class="b5-mini-headin-trns"><b>Качество печати: </b>графическая персонализация при разрешении 300 dpi обеспечивает превосходный 
            результат;
          </span>
        </div>
      </div>
      <div class="b5-mini-item">
          <div class="b5-mini-row">
              <span class="b5-mini-icon-state">
                  <i class="fa-solid fa-layer-group"></i>
                </span>
                <span class="b5-mini-headin-trns"><b>Компактность: </b>принтеры ACUBE можно установить на стойках и в билетных кассах.</span>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="b4-block trns-mb">
<div class="b4-items">
    <h3 class="b4-subheading">Печать в служебном офисе</h3>
    <p class="b4-description">Принтер Quantum для печати персонализированных карт печатает небольшие и средние объемы транспортных карт.</p>
    <div class="b4-item">
      <div class="b4-item-left">
        <div class="b4-circle">1</div>
      </div>
      <div class="b4-item-right">
        <h4 class="b4-item-heading">Ограниченные инвестиции</h4>
        <p class="b4-item-text">Quantum — это очень экономичная альтернатива промышленным принтерам;</p>
      </div>
    </div>
    <div class="b4-item">
      <div class="b4-item-left">
        <div class="b4-circle">2</div>
      </div>
      <div class="b4-item-right">
        <h4 class="b4-item-heading">Производительность</h4>
        <p class="b4-item-text">система Quantum печатает более 150 односторонних карт в час; итогового документа с требуемым уровнем безопасности.</p>
      </div>
    </div>
    <div class="b4-item">
      <div class="b4-item-left">
        <div class="b4-circle">3</div>
      </div>
      <div class="b4-item-right">
        <h4 class="b4-item-heading">Автономность</h4>
        <p class="b4-item-text">устройства подачи карт (на 500 карт) и высокопроизводительные расходные материалы (до 3000 отпечатков на ленту) обеспечивают 
          непрерывную печать.</p>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}