{% extends "shop/base.html" %}
{% load static %}

{% block title %}Транспорт{% endblock %}

{% block content %}

<!--========== PARALLAX ==========-->
<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/sliders/Header8.png' %}">
    <div class="parallax-content container">
        <h2 class="carousel-title custom-header">Персонализация транспортных карт</h2>
        <p class="custom-paragraph">Используя принтеры ACUBE, увеличьте прибыльность вашей транспортной сети с помощью 
            мгновенной выдачи дополнительных персонализованных проездных билетов.</p>
    </div>
</div>
<!--========== PARALLAX ==========-->
<div class="back-company">

<!--Первый блок -->
<div class="b1-block">
    <div class="b1-app-row b1-block-left">
        <span class="b1-app-item">Приложение:</span>
        <span class="b1-app-item">Проеездная карта</span>
    </div>
    <hr class="b1-footer">
</div>

<!-- 2 блок -->

<div class="b4-block">
  <!-- Заголовок, подзаголовок и описание -->
  <h2 class="b4-heading">Оптимизация выдачи транспортных карт.</h2>
  <p class="b4-description">Чтобы удовлетворить постоянно растущий спрос и предложить безупречное качество обслуживания, 
    транспортные операторы должны иметь возможность полагаться на превосходную, совместимую и мультимодальную систему печати 
    карт, в которой бесконтактная карта часто является центральным элементом. Наши решения обеспечивают повышенную гибкость, 
    позволяя быстро выпускать именные карты, персонализированные как графически, так и электронно в месте продажи.
  </p>
  
  <!-- Список из 6 элементов -->
  <div class="b4-items">
    <h3 class="b4-subheading">Удобство для пассажиров.</h3>
    <!-- Повторите подобную структуру 6 раз, можно менять число внутри круга -->
    <div class="b4-item">
      <div class="b4-item-left">
        <div class="b4-circle">1</div>
      </div>
      <div class="b4-item-right">
        <h4 class="b4-item-heading">Экономия времени</h4>
        <p class="b4-item-text">Процедура получения карты упрощается и для пользователя, и для оператора 
            (не нужно заполнять бумажные анкеты и заявки, нет задержки на почте и отсутствует риск утери карты в пути);</p>
      </div>
    </div>
    <div class="b4-item">
      <div class="b4-item-left">
        <div class="b4-circle">2</div>
      </div>
      <div class="b4-item-right">
        <h4 class="b4-item-heading">Немедленное использование</h4>
        <p class="b4-item-text">Транспортные карты персонализируются по запросу и могут быть использованы сразу же. Пользователи, 
            которые потеряли свой проездной, продлевают его или оформляют его впервые, могут все это сделать быстро и удобно.</p>
      </div>
    </div>
  </div>
</div>

<!-- Следуюший блок -->
<div class="b5-back-second">
<div class="b5-block">
  <div class="b5-content">
    <!-- Левый столбец: фотография -->
    <div class="b5-left">
      <img src="{% static 'img/proposal/metrogirl.png' %}" alt="Фото блока 5" class="b5-photo-trns">
    </div>
    <!-- Правый столбец: текстовый контент -->
    <div class="b5-right">
      <h2 class="b5-heading">Долговременное решение</h2>
      <!-- Три мини-элемента -->
      <div class="b5-mini-item">
        <p class="b5-mini-desc">Команда, специально выделенная для вашего проекта, обеспечивает его успешную реализацию 
            на каждом этапе:</p>
      </div>
      <div class="b5-mini-item">
        <ul class="np-block3-list ">
        <li>Изучение технических характеристик</li>
        <li>Внедрение решения, стандартного или специального, включая аппаратное обеспечение 
        (принтеры и расходные материалы),программное обеспечение и услуги</li>
        <li>Оценка и тестирование на заводе и на объекте</li>
        <li>Развертывание решения</li>
        <li>Обеспечение технического обслуживания через местных партнеров и постоянное совершенствование.</li>
        </ul>
      </div>
      <div class="b5-mini-item">
        <p class="b5-mini-desc">Это гарантирует оптимальное функционирование наших систем как части вашего решения 
            по выпуску транспортных карт.</p>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Следующий блок -->


</div>
{% endblock %}