{% extends "shop/base.html" %}
{% load static %}

{% block title %}Отдых{% endblock %}

{% block content %}
<!--========== PARALLAX ==========-->
<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/sliders/Head6.jpg' %}">
    <div class="parallax-content container">
        <h2 class="carousel-title custom-header">Печать и кодирование клубных карт и пропусков</h2>
        <p class="custom-paragraph">Произведите впечатление на клиентов и увеличьте уровень индивидуализации вашей организации 
            с <br> высококачественными членскими картами, напечатанными на месте с использованием принтеров ACUBE</p>
    </div>
</div>
<!--========== PARALLAX ==========-->
<div class="back-company">
<!--Первый блок -->
<div class="b1-block">
  <div class="b1-app-row ">
    <span class="b1-app-item">Приложение:</span>
    <span class="b1-app-item">Таблички для швед. столов в отелях</span>
    <span class="b1-app-item">Цифровая подпись</span>
    <span class="b1-app-item">Печать клубной карты</span>
    <span class="b1-app-item">Бейджи сотрудников и управление доступом</span>
  </div>
  <hr class="b1-footer">
</div>

<!-- второй блок -->
<div class="np2-block np2-block1 np2-block-mt">
  <div class="np2-content">
    <div class="np2-image">
      <img src="{% static 'img/proposal/Image-3.png' %}" alt="Изображение блока 1">
    </div>
    <div class="np2-text">
      <h2 class="np2-title">Таблички для шведских столов в отелях</h2>
      <p class="np2-description">
        Заинтересованность клиентов является важной движущей силой для роста бизнеса. 
        Возможность печатать дисконтные карты самостоятельно дарит вам независимость и оперативность, а также помогает 
        увеличить оборот.
      </p>
    </div>
  </div>
</div>

<div class="np2-block np2-block2">
  <div class="np2-content reverse">
    <div class="np2-image">
      <img src="{% static 'img/proposal/Image115154.png' %}" alt="Изображение блока 2">
    </div>
    <div class="np2-text">
      <h2 class="np2-title">Печать клубной карты</h2>
      <p class="np2-description">
        Выдача персонализированной клубной карты членам вашей организации позволит зрительно идентифицировать 
        их и упрочит их связь с вашей ассоциацией или клубом.
      </p>
    </div>
  </div>
</div>

<div class="np2-block np2-block1 np2-block-mt">
  <div class="np2-content">
    <div class="np2-image">
      <img src="{% static 'img/proposal/Image11545.png' %}" alt="Изображение блока 1">
    </div>
    <div class="np2-text">
      <h2 class="np2-title">Клиентская карта-пропуск</h2>
      <p class="np2-description">
        Предлагая различные виды досуга, все развлекательные центры заботятся об одном и том же: как обеспечить максимальный 
        комфорт для своих постоянных клиентов и случайных посетителей, без ограничений и по конкурентоспособной цене. 
      </p>
    </div>
  </div>
</div>

<div class="np2-block np2-block2 np2-block-pb">
  <div class="np2-content reverse">
    <div class="np2-image">
      <img src="{% static 'img/proposal/Image-1.png' %}" alt="Изображение блока 2">
    </div>
    <div class="np2-text">
      <h2 class="np2-title">Цифровая подпись</h2>
      <p class="np2-description">
        Откройте для себя панели для электронных подписей для отелей. Повышайте степень удовлетворенности клиентов, 
        экономьте время и деньги, улучшайте имидж бренда благодаря панелям для электронных подписей.
      </p>
    </div>
  </div>
</div>


</div>
{% endblock %}