{% extends "shop/base.html" %}
{% load static %}

{% block title %}О компании{% endblock %}

{% block content %}
<!--========== PARALLAX ==========-->
<div class="parallax-window parallax-company" data-parallax="scroll" >
    <div class="parallax-content container parallax-company-text">
        <h1 class="carousel-title">О компании</h1>
        <p>Компания ACUBE является официальным дистрибьютором Компании Evolis (Франция), и обладает исключительными правами по поставке, 
        гарантийному ремонту и послепродажному обслуживанию продуктов Evolis на территории Республики Узбекистан.
        Мы предоставляем полный спектр услуг, включающий в себя комплексное решение по поставке, настройке и интеграции персонализаторов в банковской и других сферах.</p>
    </div>
</div>
<!--========== PARALLAX ==========-->


<div class="container">
<!-- Первый блок: Информация о компании -->
 <div class="company-block1">
    <!-- Первый заголовок h3 -->
    <h3 class="company-h3-first">
    ООО “ACUBE” на протяжении долгого периода сотрудничает практически со всеми банками республики и зарекомендовало себя как надежного и компетентного партнера.
    </h3>
    <!-- Второй заголовок h3 -->
    <h3 class="company-h3-second">
    Мы имеем многочисленный опыт по участию и выигрышу в тендерных торгах, проводимых коммерческими банками, по поставкам и пуско-наладке техники и расходных материалов Evolis.
    </h3>
</div>
    
<!-- Второй блок: Основные направления деятельности -->
<div class="company-block2">
    <!-- Заголовок второго блока -->
    <h3 class="company-main-heading">
    Основными направлениями деятельности компании являются:
    </h3>
    <div class="container">
    <!-- Пример мини-блоков с иконками через <i> -->
    <div class="company-mini-grid">
      <!-- Мини-блок 1: Пластиковая карточка -->
      <div class="company-mini-block">
        <i class="fa-solid fa-credit-card company-icon" aria-hidden="true"></i>
        <p class="company-mini-description">Поставка банковского оборудования, расходных материалов</p>
      </div>
      <!-- Мини-блок 2: Флешка -->
      <div class="company-mini-block">
        <i class="fa-solid fa-sd-card company-icon" aria-hidden="true"></i>
        <p class="company-mini-description">Поставка ключей аутенфикации iKey Safenet 1032. ePass 2003</p>
      </div>
      <!-- Мини-блок 3: Ноутбук -->
      <div class="company-mini-block">
        <i class="fa-solid fa-laptop company-icon" aria-hidden="true"></i>
        <p class="company-mini-description">Поставка серверов SuperMicro и Комплектующих</p>
      </div>
      <!-- Мини-блок 4: Принтер -->
      <div class="company-mini-block">
        <i class="fa-solid fa-print company-icon" aria-hidden="true"></i>
        <p class="company-mini-description">Поставка широкого спектра оригинальных расходных материалов</p>
      </div>
    </div>
  </div>

<!-- Дополнительное описание под мини-блоками -->
    <h3 class="company-additional-description">
    Здесь приводится дополнительное описание, которое подробно раскрывает направления деятельности компании и преимущества сотрудничества.
    </h3>
</div>
</div>

<!-- Clients -->
<div class="clients-wrapper ">
    <div class="content-lg container">
        <h2 class="service-section-title">С кем мы сотрудничаем!</h2>
    </div>
    <div class="content-lg container">
        <div class="clients-grid">
            <div class="client-cube">
                <img class="client-img" src="{% static 'img/clients/1.svg' %}" alt="Clients Logo">
            </div>
            <div class="client-cube">
                <img class="client-img" src="{% static 'img/clients/2.svg' %}" alt="Clients Logo">
            </div>
            <div class="client-cube">
                <img class="client-img" src="{% static 'img/clients/3.svg' %}" alt="Clients Logo">
            </div>
            <div class="client-cube">
                <img class="client-img" src="{% static 'img/clients/4.svg' %}" alt="Clients Logo">
            </div>
            <div class="client-cube">
                <img class="client-img" src="{% static 'img/clients/5.svg' %}" alt="Clients Logo">
            </div>
            <div class="client-cube">
                <img class="client-img" src="{%static 'img/clients/6.svg'%}" alt="Clients Logo">
            </div>
            <div class="client-cube">
                <img class="client-img" src="{%static 'img/clients/7.svg'%}" alt="Clients Logo">
            </div>
            <div class="client-cube">
                <img class="client-img" src="{%static 'img/clients/8.svg'%}" alt="Clients Logo">
            </div>
        </div>
    </div>
</div>
<!-- End Clients -->

<!-- Promo Section -->
<div class="promo-section overflow-h bg-color-sky-light">
  <div class="content-lg container">
    <h2 class="service-section-title">Наш партнер!</h2>
    <!-- Обёртка, которая располагает текст и картинку в одну строку -->
    <div class="promo-content-wrap">
      <div class="promo-section-col">
        <h2>Компания Evolis-всемирный лидер в сфере мгновенного выпуска идентификационных карт!</h2>
        <p>Компания Evolis накопила признанный опыт в сфере мгновенного и децентрализованного выпуска карт и бейджей благодаря наличию широкого спектра систем персонализации пластиковых карт.</p>
        <p>Кроме того, компания Evolis добавила в свой ассортимент несколько принтеров, разработанных для конкретных проектов, в том числе модули печати, предназначенные для терминалов самообслуживания. 
           Ассортимент Evolis охватывает все потребности, от простой печати небольшими партиями до полной персонализации защищенных технологических карт в крупных объемах.</p>
        <span class="promo-section-col-link">Ссылка на сайт нашего партнера <a href="https://ru.evolis.com/">evolis</a></span>
        </div>
      <div class="promo-section-img-right">
        <img class="img-responsive-section" src="{% static 'img/Evolis.png' %}" alt="Content Image">
      </div>
    </div>
  </div>
</div>
<!-- End Promo Section -->

{% endblock %}