{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}{{ page_title }}{% endblock %} | ACUBE </title>
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link rel="icon" href="{% static 'img/ACUBE.png' %}" type="image/png">
    <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <link href="{% static 'vendor/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/css/swiper.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- <link href="{% static 'css/layout.min.css' %}" rel="stylesheet" type="text/css"/> -->
    <link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
</head>
<body>
        

    {% include "shop/partials/header.html" %}


    {% block content %}
    {% endblock %}

    {% include "shop/partials/footer.html" %}

    <!-- Back To Top -->
    <a href="javascript:void(0);" class="js-back-to-top back-to-top top-link"><i class="fa-solid fa-angle-up"></i></a>
    <!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="{% static 'frontend/js/app.js' %}"></script>
    <script src="{% static 'frontend/js/chunk-vendors.js' %}"></script>

    <!-- CORE PLUGINS -->
    <script src="{% static 'vendor/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/jquery-migrate.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script> 

    <!-- PAGE LEVEL PLUGINS -->
    <script src="{% static 'vendor/jquery.easing.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/jquery.back-to-top.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/jquery.smooth-scroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/jquery.wow.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/jquery.parallax.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/swiper/js/swiper.jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/masonry/jquery.masonry.pkgd.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/masonry/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>   

    <!-- PAGE LEVEL SCRIPTS -->
    <script src="{% static 'js/script.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/layout.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/components/wow.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/components/swiper.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/components/masonry.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/components/gmap.min.js' %}" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/a643da33f7.js" crossorigin="anonymous"></script>

    {% block scripts %}{% endblock %}  
</body>
</html> 