{% extends "shop/base.html" %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<!--========== SLIDER ==========-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="container">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
            <li data-target="#carousel-example-generic" data-slide-to="7"></li>
        </ol>
    </div>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="img-responsive" src="{% static 'img/sliders/Header1.jpg' %}" alt="Slider Image">
            <div class="container">
                <div class="carousel-centered">
                    <div class="slider-squares">
                        <a href="{% url 'company' %}" class="square">
                            <div class="square-top">
                                <i class="fa-solid fa-city"></i>
                                <h4 class="square-title">Для компании</h4>
                            </div>
                            <div class="square-desc">
                                Идентифицикационные карты для сотрудников , бейджики для посетителй, безопасность
                            </div>
                        </a>
                        <a href="{% url 'company' %}" class="square-number">
                          <span>1/8</span>
                        </a>
                      </div>
                    <div class="margin-b-40">
                        <h1 class="carousel-title">Идентифицируйте значимых <br> людей и активы</h1>
                        <p>Это не потребует дополнительных усилий благодаря решениям по  идентификации
                            и системам <br> персонализации карт от компании AB Project. 
                            <br/> <br/>  
                            Узнайте, какие варианты доступны именно для вашей сферы деятельности.</p>
                    </div>
                    <a href="#" class="btn-theme btn-theme-sm btn-white-brd text-uppercase ">Скачать брошюру</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src="{% static 'img/sliders/Header2.jpg' %}" alt="Slider Image">
            <div class="container">
                <div class="carousel-centered">
                    <div class="slider-squares">
                        <a href="{% url 'education' %}" class="square square-school">
                            <div class="square-top">
                              <i class="fa-solid fa-graduation-cap"></i>
                              <h4 class="square-title">Образование</h4>
                            </div>
                            <div class="square-desc">Будь то высшая школа, университет, лицей колледж, начальная школа или детский сад, использование
                              бейджей и карточек в учреждении позволит вам получить доступ ко многим возможносям...
                            </div>
                        </a>
                        <a href="{% url 'education' %}" class="square-number">
                          <span>2/8</span>
                        </a>
                      </div>
                    <div class="margin-b-40">
                        <h1 class="carousel-title">Идентифицируйте значимых <br> людей и активы</h1>
                        <p>Это не потребует дополнительных усилий благодаря решениям по  идентификации
                            и системам <br> персонализации карт от компании AB Project. 
                            <br/> <br/>  
                            Узнайте, какие варианты доступны именно для вашей сферы деятельности.</p>
                    </div>
                    <a href="#" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Скачать брошюру</a>
                </div>
            </div>
        </div>
            <div class="item">
                <img class="img-responsive" src="{% static 'img/sliders/Header3.jpg' %}" alt="Slider Image">
                <div class="container">
                    <div class="carousel-centered">
                        <div class="slider-squares">
                            <a href="{% url 'retail' %}" class="square square-target">
                                <div class="square-top">
                                  <i class="fa-solid fa-store"></i>
                                  <h4 class="square-title">Розничная торговля</h4>
                                </div>
                                <div class="square-desc">
                                  Инновационные решения ACUBE обеспечивают мгновенндую выдачу карт постоянного покупателя и 
                                  пластиковых ценников, что позволит вам увеличить качество обслуживания покупателей сохранить
                                  покупателей и увеличить обьм продаж.
                                </div>
                            </a>
                            <a href="{% url 'retail' %}" class="square-number">
                              <span>3/8</span>
                            </a>
                          </div>
                        <div class="margin-b-40">
                            <h1 class="carousel-title">Идентифицируйте значимых <br> людей и активы</h1>
                            <p>Это не потребует дополнительных усилий благодаря решениям по  идентификации
                                и системам <br> персонализации карт от компании AB Project. 
                                <br/> <br/>  
                                Узнайте, какие варианты доступны именно для вашей сферы деятельности.</p>
                        </div>
                        <a href="#" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Скачать брошюру</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="{% static 'img/sliders/Header4.jpg' %}" alt="Slider Image">
                <div class="container">
                    <div class="carousel-centered">
                        <div class="slider-squares">
                            <a href="{% url 'paymentCard' %}" class="square">
                                <div class="square-top">
                                    <i class="fa-solid fa-credit-card"></i>
                                    <h4 class="square-title">Платежные карты</h4>
                                </div>
                                <div class="square-desc">
                                    ACUBE-лидер в области поставки систем мгновенной персонализации платежных карт
                                </div>
                            </a>
                            <a href="{% url 'paymentCard' %}" class="square-number">
                              <span>4/8</span>
                            </a>
                          </div>
                        <div class="margin-b-40">
                            <h1 class="carousel-title">Идентифицируйте значимых <br> людей и активы</h1>
                            <p>Это не потребует дополнительных усилий благодаря решениям по  идентификации
                                и системам <br> персонализации карт от компании AB Project. 
                                <br/> <br/>  
                                Узнайте, какие варианты доступны именно для вашей сферы деятельности.</p>
                        </div>
                        <a href="#" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Скачать брошюру</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="{% static 'img/sliders/Header5.jpg' %}" alt="Slider Image">
                <div class="container">
                    <div class="carousel-centered">
                        <div class="slider-squares">
                            <a href="{% url 'stateAuthorities' %}" class="square square-build">
                                <div class="square-top">
                                  <i class="fa-solid fa-landmark"></i>
                                  <h4 class="square-title">Государственные органы</h4>
                                </div>
                                <div class="square-desc">
                                    Решение ACUBE для печати и кодирования защиту для передачи официальных документов 
                                    государственными органами и исключают подделку идентификационных карт.
                                </div>
                            </a>
                            <a href="{% url 'stateAuthorities' %}" class="square-number">
                              <span>5/8</span>
                            </a>
                          </div>
                        <div class="margin-b-40">
                            <h1 class="carousel-title">Идентифицируйте значимых <br> людей и активы</h1>
                            <p>Это не потребует дополнительных усилий благодаря решениям по  идентификации
                                и системам <br> персонализации карт от компании AB Project. 
                                <br/> <br/>  
                                Узнайте, какие варианты доступны именно для вашей сферы деятельности.</p>
                        </div>
                        <a href="#" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Скачать брошюру</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="{% static 'img/sliders/Head6.jpg' %}" alt="Slider Image">
                <div class="container">
                    <div class="carousel-centered">
                        <div class="slider-squares">
                            <a href="{% url 'vacation' %}" class="square square-chill">
                                <div class="square-top">
                                  <i class="fa-solid fa-hotel icon-hotel"></i>
                                  <h4 class="square-title">Гостиничный бизнес и индустрия отдыха</h4>
                                </div>
                                <div class="square-desc">Произведите впечатление на клиентов и увеличьте уровень индивидуализации вашей организации
                                  с высококачественными членскими картами, напечатанными на месте с использованием принтеров ACUBE
                                </div>
                            </a>
                            <a href="{% url 'vacation' %}" class="square-number">
                              <span>6/8</span>
                            </a>
                          </div>
                        <div class="margin-b-40">
                            <h1 class="carousel-title">Идентифицируйте значимых <br> людей и активы</h1>
                            <p>Это не потребует дополнительных усилий благодаря решениям по  идентификации
                                и системам <br> персонализации карт от компании AB Project. 
                                <br/> <br/>  
                                Узнайте, какие варианты доступны именно для вашей сферы деятельности.</p>
                        </div>
                        <a href="#" class="btn-theme btn-theme-sm btn-white-brd text-uppercase text-uppercase-dynamic">Скачать брошюру</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="{% static 'img/sliders/Header7.jpg' %}" alt="Slider Image">
                <div class="container">
                    <div class="carousel-centered">
                        <div class="slider-squares">
                            <a href="{% url 'health' %}" class="square square-medical">
                                <div class="square-top">
                                   <i class="fa-solid fa-hospital"></i>
                                   <h4 class="square-title">Здравохранение</h4>
                                </div>
                                <div class="square-desc">Ваше медицинское учреждение, открытое для публики и со множеством потоков, должно обеспечивать
                                  гостеприимную и успокаивающую атмосферу для пациентов и сотрудников, учитывая при этом бюджетные ограничения.
                                </div >
                            </a>
                            <a href="{% url 'health' %}" class="square-number">
                              <span>7/8</span>
                            </a>
                          </div>
                        <div class="margin-b-40">
                            <h1 class="carousel-title">Идентифицируйте значимых <br> людей и активы</h1>
                            <p>Это не потребует дополнительных усилий благодаря решениям по  идентификации
                                и системам <br> персонализации карт от компании AB Project. 
                                <br/> <br/>  
                                Узнайте, какие варианты доступны именно для вашей сферы деятельности.</p>
                        </div>
                        <a href="#" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Скачать брошюру</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="{% static 'img/sliders/Header8.png' %}" alt="Slider Image">
                <div class="container">
                    <div class="carousel-centered">
                        <div class="slider-squares">
                            <a href="{% url 'transportation' %}" class="square square-car">
                                <div class="square-top">
                                  <i class="fa-solid fa-truck"></i>
                                  <h4 class="square-title">Транспорт</h4>
                                </div>
                                <div class="square-desc">Используя принтеры ACUBE увеличьте прибыльность вашей транспортной сети с помощью мгновенной
                                  выдачи дополнительных персонализованных проездных билетов.
                                </div>
                            </a>
                            <a href="{% url 'transportation' %}" class="square-number">
                              <span>8/8</span>
                            </a>
                          </div>
                        <div class="margin-b-40">
                            <h1 class="carousel-title">Идентифицируйте значимых <br> людей и активы</h1>
                            <p>Это не потребует дополнительных усилий благодаря решениям по  идентификации
                                и системам <br> персонализации карт от компании AB Project. 
                                <br/> <br/>  
                                Узнайте, какие варианты доступны именно для вашей сферы деятельности.</p>
                        </div>
                        <a href="#" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Скачать брошюру</a>
                    </div>
                </div>
            </div>          
    </div>
</div>
<!--========== SLIDER ==========-->

<!-- Testimonials -->

<div class="content-lg container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <!-- Swiper Testimonials -->
            <div class="swiper-slider swiper-testimonials">
                <!-- Swiper Wrapper -->
                <div class="swiper-wrapper">
                    <!-- 1 Слайд -->
                    <div class="swiper-slide">
                        <blockquote class="blockquote">
                            <div class="blockquote-content">
                                <div class="blockquote-caption">
                                    <h2>Децетрализованный  и анонимный выпуск карт </h2>
                                </div>
                                <div class="margin-b-20 blockquote-text">
                                    Принтеры ACUBE - это часть растущей тенденции: <br> децентрализации производства идентификационных карт.
                                </div>
                                <div class="margin-b-20 blockquote-text">
                                    Выпуск собственных идентификационных бейджей и других карт <br> 
                                    непосредственно на вашей территоррии дает вам возможность быстрее <br>
                                    реагировать на потребность в картах, повысить безопасность и <br>
                                    эффективно управлять расходами.
                                </div>                         
                                <div class="margin-b-20 blockquote-text">
                                    Наши системы способны персонализировать все виды карт, от совсем <br> 
                                    простых до самых сложных и надежных, предназченных для любого <br> рынка.
                                </div>                                  
                                <div class="slide-counter"> 1/3 </div>
                            </div>
                            <div class="blockquote-image image-office">
                                <img src="{% static 'img/testimonials/office.avif' %}" alt="Отзыв 1">                       
                            </div>
                        </blockquote>
                    </div>
                    <!-- Слайд 2 -->
                    <div class="swiper-slide">
                        <blockquote class="blockquote">
                            <div class="blockquote-content">
                                <div class="blockquote-caption">
                                    <h2>Специалист в области идентификации</h2>
                                </div>
                                <div class="margin-b-20 blockquote-text">
                                    Мы предлагаем широкий спектр решений по идентификации людей и <br>
                                    активов: карточные принтеры, проограммное обеспечение для <br>
                                    персонализации карт, панели цифровой подписи и аксессуары для <br>
                                    идентификационных документов. <br>
                                </div>
                                <div class="margin-b-20 blockquote-text">
                                    Поставка и интеграция карточных принтеров является ключевым <br> 
                                    направлением деятельности компании ACUBE на протяжении более <br>
                                    7 лет. В настоящее время мы одни из лидеров в области децентрализованных <br>
                                    карточных принтеров в р Узбекистан.
                                </div>
                                <div class="slide-counter"> 2/3 </div>
                            </div>
                            <div class="blockquote-image image-robot">
                                <img src="{% static 'img/testimonials/robot.jpg' %}" alt="Отзыв 2">
                            </div>
                        </blockquote>
                    </div>
                    <!-- Слайд 3 -->
                    <div class="swiper-slide">
                        <blockquote class="blockquote">
                            <div class="blockquote-content">
                                <div class="blockquote-caption">
                                    <h2>Индивидальное ноу-хау</h2>
                                </div>
                                <div class="margin-b-20 blockquote-text">
                                    Продукция Evolis славится своей способностью удовлетворять <br>
                                    специфические потребности. Команда ,, Название фирмы ,, полностью <br>
                                    посвятила себя работе с особыми запросами.
                                </div>
                                <div class="margin-b-20 blockquote-text">
                                    Она действует в тесном сотрудничестве с командами разработки и <br>
                                    исследования Evolis, создавая индивидуальные, целиком <br> 
                                    адаптированные под нужды наших клиентов решения.
                                </div>
                                <div class="slide-counter"> 3/3 </div>
                            </div>
                            <div class="blockquote-image image-card">
                                <img src="{% static 'img/testimonials/card.jpg' %}" alt="Отзыв 3">
                            </div>
                        </blockquote>
                    </div>
                </div>
                <!-- End Swiper Wrapper -->

                <!-- Pagination -->
                <div class="swiper-testimonials-pagination"></div>
            </div>
            <!-- End Swiper Testimonials -->
        </div>
    </div>
    <!--// end row -->
</div>
<!-- End Testimonials -->


<!-- Latest Products -->
<div class="content-lg container  ">
    <div class="row margin-b-40">
        <div class="col-sm-12 service-section-title">
            <h2 >Наши предложения:</h2>
        </div>
    </div>
    <!--// end row -->
<!-- Обёртка для карточек с дополнительным классом, который заставляет выводить их в одну строку -->
    <div class="row latest-products-row ">
        <!-- Latest Products -->
        <div class="col-sm-4 sm-margin-b-50 kart">
            <div class="margin-b-20">
                <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                    <img class="img-responsive img-agilia" src="{% static 'img/Agilia/1000x1000 (1).png' %}" alt="Latest Products Image">
                </div>
            </div>
            <h4 class="text-uppercases "> Agilia</h4>
            <p>Принтер для печати ретрансферных карт. Agilia: высочайшее качество печати и оптимальная безопасность для всех ваших карт.</p>
            <a class="link" href="{% url 'agilia' %}">Узнать больше</a>
        </div>
        <!-- End Latest Products -->

        <!-- Latest Products -->
        <div class="col-sm-4 sm-margin-b-50 kart">
            <div class="margin-b-20">
                <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                    <img class="img-responsive" src="{% static 'img/Badgy/1000x1000.jpg' %}" alt="Latest Products Image">
                </div>
            </div>
            <h4 class="text-uppercases ">Badgy200</h4>
            <p>Карточный принтер. Badgy200-это комплексное решение, экономичное и простое в использовании.</p>  <br> 
            <a class="link" href="{% url 'badgy200' %}">Узнать больше</a>
        </div>
        <!-- End Latest Products -->

        <!-- Latest Products -->
        <div class="col-sm-4 sm-margin-b-50 kart">
            <div class="margin-b-20">
                <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                    <img class="img-responsive" src="{% static 'img/Futronic/futronic.jpg' %}" alt="Latest Products Image">
                </div>
            </div>
            <h4 class="text-uppercases ">Futronic FS80H</h4>
            <p>Дактилоскопический сканер отпечатка пальца. Futronic FS80H Компактный биометрический сканер отпечатков пальцев.</p> 
            <a class="link" href="{% url 'futronicFS80H' %}">Узнать больше</a>
        </div>
        <!-- End Latest Products -->
        <!-- Latest Products -->
        <div class="col-sm-4 sm-margin-b-50 kart">
            <div class="margin-b-20">
                <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                    <img class="img-responsive" src="{% static 'img/Primacy2/1.png' %}" alt="Latest Products Image">
                </div>
            </div>
            <h4 class="text-uppercases">Primacy 2</h4>
            <p>Карточный принтер. Компендиум технологий  для сегодняшнего и завтрашнего дня  с карточный принтер Primacy 2.</p>
            <a class="link" href="{% url 'primacy2' %}">Узнать больше</a>
        </div>
        <div class="col-sm-4 sm-margin-b-50 kart">
            <div class="margin-b-20">
                <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                    <img class="img-responsive" src="{% static 'img/Zenius/1000x1000.png' %}" alt="Latest Products Image">
                </div>
            </div>
            <h4 class="text-uppercases ">Zenius</h4>
            <p>Карт-принтер Zenius является компактным и экономичным решением для выпуска персонализированных карт.</p>
            <a class="link" href="{% url 'zenius' %}">Узнать больше</a>
        </div>
        <!-- End Latest Products -->
    </div>
    <!--// end row -->
</div>
<!-- End Latest Products -->


<!--========== PAGE LAYOUT ==========-->

<!-- Service -->
<div data-auto-height="true">
    <div class="content-lg container">
        <h2 class="service-section-title">Сферы применения:</h2>
    </div>
    <div class="content-lg container">
        <div class="row row-space-1 margin-b-2">
            <!-- Service Item 1 -->
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="fa-solid fa-address-card"></i>
                        </div>
                        <div class="service-info">
                            <h4>Студенческие карты</h4>
                            <p>В дополнение к своим основным функциям идентификации и безопасности, 
                                она может использоваться в качестве карты, обеспечивая доступ к множеству услуг.</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>    
                    </div>
                </div>
            </div>
            <!-- Service Item 2 -->
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="fa-solid fa-id-badge"></i>
                        </div>
                        <div class="service-info">
                            <h4>Бейджи сотрудников и доступ</h4>
                            <p>Идентифицируйте своих сотрудников и контролируйте доступ. Пластиковая карта 
                                объединяет в себе преимущества гибкости, экономии времени и безопасности людей.</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>    
                    </div>
                </div>
            </div>
            <!-- Service Item 3 -->
            <div class="col-sm-4">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="fa-solid fa-bus"></i>
                        </div>
                        <div class="service-info">
                            <h4>Проездная карта</h4>
                            <p>Проездные карты позволяют более комфортно пользоваться общественным транспортом и помогают транспортным компаниям
                                и агентствам контролировать свои доходы.</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>    
                    </div>
                </div>
            </div>
        </div>
        <!--// end row -->

        <div class="row row-space-1">
            <!-- Service Item 4 -->
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".4s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="fa-solid fa-kit-medical"></i>
                        </div>
                        <div class="service-info">
                            <h4>Медицинские карты.</h4>
                            <p>Решения ACUBE помогают организациям здравоохранения идентифицировать людей
                                и имущество, а также повысить безопасность и эффективность процедур.r</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>    
                    </div>
                </div>
            </div>
            <!-- Service Item 5 -->
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".5s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="fa-solid fa-passport"></i>
                        </div>
                        <div class="service-info">
                            <h4>Национальное удостоверение личности</h4>
                            <p>Национальное удостоверение личности должно быть прочным и защищенным от подделок.
                                 ACUBE предоставит вам консультации и все необходимое оборудование.</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>    
                    </div>
                </div>
            </div>
            <!-- Service Item 6 -->
            <div class="col-sm-4">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".6s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="fa-solid fa-hotel"></i>
                        </div>
                        <div class="service-info">
                            <h4>Ключь-карта для отеля</h4>
                            <p>Произведите впечатление на клиентов и увеличьте уровень индивидуализации вашей организации 
                                с высококачественными членскими картами, напечатанными на месте.</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>    
                    </div>
                </div>
            </div>
        </div>
        <!--// end row -->
    </div>
</div>
<!-- End Service -->

<!-- Clients -->
<div class="clients-wrapper ">
    <div class="content-lg container">
        <h2 class="service-section-title">С кем мы сотрудничаем!</h2>
    </div>
    <div class="content-lg container">
        <div class="clients-grid">
            <div class="client-cube">
                <img class="client-img" src="{% static 'img/clients/1.svg' %}" alt="Clients Logo">
            </div>
            <div class="client-cube">
                <img class="client-img" src="{% static 'img/clients/2.svg' %}" alt="Clients Logo">
            </div>
            <div class="client-cube">
                <img class="client-img" src="{% static 'img/clients/3.svg' %}" alt="Clients Logo">
            </div>
            <div class="client-cube">
                <img class="client-img" src="{% static 'img/clients/4.svg' %}" alt="Clients Logo">
            </div>
            <div class="client-cube">
                <img class="client-img" src="{% static 'img/clients/5.svg' %}" alt="Clients Logo">
            </div>
            <div class="client-cube">
                <img class="client-img" src="{%static 'img/clients/6.svg'%}" alt="Clients Logo">
            </div>
            <div class="client-cube">
                <img class="client-img" src="{%static 'img/clients/7.svg'%}" alt="Clients Logo">
            </div>
            <div class="client-cube">
                <img class="client-img" src="{%static 'img/clients/8.svg'%}" alt="Clients Logo">
            </div>
        </div>
    </div>
</div>
<!-- End Clients -->
 
<!-- Promo Section -->
<div class="promo-section overflow-h bg-color-sky-light">
  <div class="content-lg container">
    <h2 class="service-section-title">Наш партнер!</h2>
    <!-- Обёртка, которая располагает текст и картинку в одну строку -->
    <div class="promo-content-wrap">
      <div class="promo-section-col">
        <h2>Компания Evolis-всемирный лидер в сфере мгновенного выпуска идентификационных карт!</h2>
        <p>Компания Evolis накопила признанный опыт в сфере мгновенного и децентрализованного выпуска карт и бейджей благодаря наличию широкого спектра систем персонализации пластиковых карт.</p>
        <p>Кроме того, компания Evolis добавила в свой ассортимент несколько принтеров, разработанных для конкретных проектов, в том числе модули печати, предназначенные для терминалов самообслуживания. 
           Ассортимент Evolis охватывает все потребности, от простой печати небольшими партиями до полной персонализации защищенных технологических карт в крупных объемах.</p>
        <span class="promo-section-col-link">Ссылка на сайт нашего партнера <a href="https://ru.evolis.com/">evolis</a></span>
        </div>
      <div class="promo-section-img-right">
        <img class="img-responsive-section" src="{% static 'img/Evolis.png' %}" alt="Content Image">
      </div>
    </div>
  </div>
</div>
<!-- End Promo Section -->

{% endblock %}

{% block scripts %}{% endblock %}  