{% extends "shop/base.html" %}
{% load static %}

{% block title %}Рынки и предложения{% endblock %}

{% block content %}
<!--========== PARALLAX ==========-->
<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/sliders/Header4.jpg' %}">
    <div class="parallax-content container">
        <h1 class="carousel-title">Идеи, рынок и предложения</h1>
        <p>Узнайте, как инновационные карты и бейджи расширяют рынок уникальным предложением и множеством вариантов.</p>
    </div>
</div>
<!--========== PARALLAX ==========-->




{% endblock %}