{% extends "shop/base.html" %}
{% load static %}

{% block title %}Наши решения{% endblock %}

{% block content %}
<!--========== PARALLAX ==========-->
    <div class="parallax-window parallax-printer" data-parallax="scroll" >
        <div class="parallax-content container">
            <h1 class="carousel-title custom-header">Принтеры и Дактилоскопический сканер</h1>
            <p class="custom-paragraph-products">Ряд модельных карточных принтеров и компактный биометрический сканер отпечатков пальцев.
               <br> Панели цифровой подписи ACUBE спользуют резистивную технологию или
               <br> электромагнитную резонансную технологию.
            </p>
        </div>
    </div>
<!--========== PARALLAX ==========-->
<!--========== PAGE LAYOUT ==========-->
<div class="container">
    <!-- Главный заголовок (над всеми блоками) -->
    <h1 class="main-heading">Принтеры и Дактилоскопический сканер</h1>
    <div class="grid-container">
      <!-- Блок 1 -->
      <div class="block">
        <img class="agilia" src="{% static 'img/Agilia/1000x1000 (1).png' %}" alt="Изображение 1">
        <h3>Принтер для печати ретрансферных карт - Agilia </h3>
        <p>Принтер для ретрансферных карт Agilia: высочайшее качество печати и оптимальная безопасность для всех ваших карт. 100% сделано в Evolis.
            Высококачественная печать на картах всех типов.
        </p>
        <a href="#" class="btn">Узнать больше</a>
      </div>
      <!-- Блок 2 -->
      <div class="block">
        <img class="badgy" src="{% static 'img/Badgy/1000x1000.jpg' %}" alt="Изображение 2">
        <h3>Карточный принтер - Badgy200</h3>
        <p>Badgy200 — это комплексное решение, экономичное и простое в использовании, которое удовлетворит все ваши потребности в графической 
            персонализации и мгновенном производстве карт, как поштучно, так и небольшими партиями.</p>
        <a href="#" class="btn">Узнать больше</a>
      </div>
      <!-- Блок 3 -->
      <div class="block">
        <img class="primacy" src="{% static 'img/Primacy2/1.png' %}" alt="Изображение 3">
        <h3>Карточный принтер - Primacy 2</h3>
        <p>Компендиум технологий для сегодняшнего и завтрашнего дня с карточный принтер Primacy 2. 
            Легко создавайте собственные карты с необходимым уровнем безопасности.От самых простых до самых надежных карт, Primacy 2 — это оптимальное решение.
        </p>
        <a href="#" class="btn">Узнать больше</a>
      </div>
      <!-- Блок 4 -->
      <div class="block">
        <img class="zenius" src="{% static 'img/Zenius/1000x1000.png' %}" alt="Изображение 4">
        <h3>Карт-принтер - Zenius</h3>
        <p>Ориентированный на пользователя, Zenius является компактным и экономичным решением для выпуска персонализированных карт.
            Простой в освоении и использовании принтер Zenius является компактным и экономичным решением для выпуска персональных карт.
        </p>
        <a href="#" class="btn">Узнать больше</a>
      </div>
      <!-- Блок 5 -->
      <div class="block">
        <img class="futronic" src="{% static 'img/Futronic/futronic.jpg' %}" alt="Изображение 5">
        <h3>Дактилоскопический сканер отпечатка пальца Futronic FS80H </h3>
        <p>Futronic FS80H - оптический сканер отпечатков пальцев, использующий передовые технологии CMOS-матрицы и высокоточные оптические системы 
        для получения качественного изображения отпечатка пальца. Палец сканируется через стеклянное окно толщиной 14 мм.</p>
        <a href="#" class="btn">Узнать больше</a>
      </div>
    </div>
  </div>
<!--========== END PAGE LAYOUT ==========-->
{% endblock %}