{% extends "shop/base.html" %}
{% load static %}

{% block title %}Наши решения{% endblock %}

{% block content %}
        <!--========== PARALLAX ==========-->
        <div class="parallax-window parallax-printer" data-parallax="scroll" >
            <div class="parallax-content container">
                <h1 class="carousel-title custom-header">Принтеры и Дактилоскопический сканер</h1>
                <p class="custom-paragraph-products">Ряд модельных карточных принтеров и компактный биометрический сканер отпечатков пальцев.</p>
            </div>
        </div>
        <!--========== PARALLAX ==========-->

        <!--========== PAGE LAYOUT ==========-->
       
        <!--========== END PAGE LAYOUT ==========-->
{% endblock %}